
<div data-image-src="/sites/default/files/f12746_25114342f35e41e885c0200da2e3c6b2~mv2.jpg" data-parallax="scroll">
    <div class="wrap medieninhaber-wrap">
        <div class="wrapping">
            <section>
                <div class="header-banner">
                    <div class="main-page-title">Medieninhaber<br />
                        und Herausgeber.</div>

                    <div><span>Adresse:</span>Ungargasse 64-66/1/110, 1030 Wien</div>

                    <div><span>Telefon:</span>+43 1 890 64 01-0</div>

                    <div><span>Telefax:</span>+43 1 890 64 01-99</div>

                    <div><span>E-Mail:</span><a data-content="office@dialogschmiede.com" data-type="mail" href="mailto:office@dialogschmiede.com" target="_self">office@dialogschmiede.com</a></div>

                    <div><span>Web:</span><a href="http://www.dialogschmiede.com" target="_self">dialogschmiede.com</a></div>

                    <div><span>Firmenbuchnummer:</span>FN 295656p</div>

                    <div><span>Firmenbuchgericht:</span>Handelsgericht Wien</div>

                    <div><span>UID-Nummer:</span>ATU 63496844</div>

                    <div><span>Unternehmensgegenstand:</span>Agentur für Dialog- und Onlinemarketing</div>

                    <div><span>Eigentümer:</span>Jürgen Polterauer (70%), Klemens Huber (20%), Wolfgang Marterbauer (10%)</div>
                </div>
            </section>
        </div>
    </div>
</div>

<section class="medieninhaber">
    <div class="sub-title">Disclaimer:</div>

    <p class="last">Alle Rechte vorbehalten. Der Medieninhaber gestattet die Übernahme von Dateien dieser Website nur für den privaten Gebrauch. Die Übernahme und Nutzung der Daten zu anderen Zwecken bedarf der vorhergehenden schriftlichen Zustimmung der Dialogschmiede GmbH. Jegliche Haftung betreffend Links zu anderen Webseiten und der Richtigkeit und Aktualität der enthaltenen Angaben sowie für Datenverlust oder andere technische Beeinträchtigungen, die beim Betrachten oder Herunterladen von Daten dieser Website entstehen können, ist ausgeschlossen.</p>

    <div class="sub-title">Für Websitebesucher:</div>

    <p>Aus Gründen der Praktikabilität und zu Gunsten des Leseflusses erlauben wir uns auf zeitgemäße, geschlechterspezifische Bezeichnungen zu verzichten. Dies soll jedoch nicht als Diskriminierung zu verstehen sein. Die Dialogschmiede bekennt sich zur proaktiven Gleichstellung von Frau und Mann.</p>

    <div class="title-row">Datenschutz.</div>

    <div class="sub-title">Erhebung und Verarbeitung persönlicher Daten:</div>

    <p class="last">Unsere Webserver speichern standardmäßig die vom Internet Provider zugewiesene IP-Adresse, die URL, von der aus Sie uns besuchen, die von Ihnen angeschauten Webseiten sowie Datum und Uhrzeit Ihres Besuches. In einigen Bereichen setzt die Dialogschmiede sogenannte Cookies ein, um Ihnen maßgeschneiderte Informationen zur Verfügung stellen zu können. Persönliche Daten werden nur dann gespeichert, wenn Sie diese z. B. bei einer Registrierung, einer Umfrage, einem Preisausschreiben oder zur Durchführung eines Vertrages angeben.</p>

    <div class="sub-title">Nutzung und Weitergabe persönlicher Daten und Zweckbindung:</div>

    <p class="last">Ihre personenbezogenen Daten werden entsprechend der geltenden Datenschutz-Vorschriften nur zum Zwecke der Vertragsabwicklung und zur Wahrung berechtigter eigener Geschäftsinteressen im Hinblick auf die Beratung und Betreuung und die bedarfsgerechte Servicegestaltung erhoben, verarbeitet und genutzt.</p>

    <div class="sub-title">Auskunftsrecht/Richtigstellung/Löschung:</div>

    <p class="last">Auf Anforderung teilen wir Ihnen schriftlich entsprechend dem geltenden Recht mit, ob und welche persönlichen Daten bei uns gespeichert sind. Außerdem haben Sie das Recht auf Richtigstellung unrichtiger Daten und auf Löschung von unzulässigerweise verarbeiteten Daten.</p>

    <div class="sub-title">Google Analytics:</div>

    <p class="last">Unsere Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google"). Google Analytics verwendet sog. „Cookies", es handelt sich dabei um Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wertet die Informationen Ihrer Nutzung unserer Website aus. Damit werden Berichte zu Ihren Aktivitäten auf unserer Website erstellt und uns zugänglich gemacht. Dies kann auch der Möglichkeit dienen, weitere mit der Nutzung unserer Website oder der Nutzung des Internets verbundene Dienstleistungen anbieten oder erbringen zu können. Diese Informationen wird Google möglicherweise an Dritte weitergeben, wenn dies von Gesetzes wegen gefordert ist oder für den Fall, dass Dritte von Google beauftragt werden, diese Datenverarbeitung vorzunehmen. Keinesfalls wird Google jedoch Ihre IP-Adresse mit anderen Daten von Google verknüpfen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Nähere Informationen erhalten Sie außerdem in den Nutzungsbedingungen und der Übersicht zum Datenschutz von Google.</p>

    <div class="sub-title">Nutzung der Social Plugins von Facebook, Xing und LinkedIn:</div>

    <p class="last">Auf unserer Webseite sind Social Plugins integriert. Diese Plugins ermöglichen es Ihnen unsere Seiteninhalte mittels der oben genannten Social Media Dienste zu empfehlen. Wenn Sie eine Seite unserer Webseite aufrufen, die über ein solches Plugin verfügt, baut Ihr Browser eine kurzfristige Verbindung zum Server des jeweiligen Social Media Dienstes auf. Der Inhalt des Plugins wird dann direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden. Facebook, LinkedIn und Xing geben keine konkrete Auskunft darüber, welche Daten bei der Nutzung ihrer Plugins übermittelt und gespeichert werden. Die Dialogschmiede GmbH hat daher keine Kenntnis vom Inhalt und Umfang der übermittelten Daten und deren Nutzung durch die Social Media Dienste. Nähere Informationen hierzu entnehmen Sie bitte den Datenschutzbestimmungen von Facebook, Xing und LinkedIn.</p>

    <div class="sub-title">Links:</div>

    <p class="last">Unsere Website enthält Links zu fremden Websiten. Durch Klick auf einen solchen Link verlassen Sie unsere Webseite. Da diese anderen Websiten-Anbieter möglicherweise abweichende/ unterschiedliche Datenschutzpraktiken haben und in Drittländern u. U. nicht das gleiche Datenschutzniveau wie in Österreich oder Europa besteht, empfehlen wir, die betreffenden Datenschutzrichtlinien dieser anderen Websiten-Anbieter zu lesen.</p>

    <div class="sub-title">Sicherheit:</div>

    <p>Die Dialogschmiede setzt technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre durch uns verwalteten Daten vor zufälligen oder vorsätzlichen Manipulationen, Verlust, Zerstörung oder Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden kontinuierlich entsprechend der technologischen Entwicklung verbessert.</p>

    <p class="last">Wenn Sie Fragen hinsichtlich der Verarbeitung Ihrer persönlichen Daten haben, können Sie sich direkt an <a data-content="office@dialogschmiede.com" data-type="mail" href="mailto:office@dialogschmiede.com" target="_self">office@dialogschmiede.com</a> wenden.</p>

    <div class="sub-title">Für Newsletterabonnenten:</div>

    <p>Mit der Registrierung zum Newsletter sind Sie damit einverstanden, Informationen per E-Mail zu erhalten. Zusätzlich erklären Sie sich damit einverstanden, dass Ihre Daten zu den oben angeführten Zwecken verarbeitet werden. Sie können sich jederzeit mittels Abmelde-Link in den Newslettern abmelden. Ihre Daten werden nicht an Dritte weitergegeben.</p>
</section>
