/**
 * @file
 * Styles for jssor skin.
 */
.slider__caption {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden; }

.slider__caption--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden; }

.slider__caption--bottom {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden; }

.slider__caption--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  overflow: hidden; }

.slider__caption--title {
  position: relative;
  margin: 0 0.5em;
  font-size: 5em;
  color: #fff; }
  .slider__caption--title a {
    color: #fff;
    border-bottom: 0 none; }
    .slider__caption--title a:hover {
      border-style: none; }

.jssora01l, .jssora01r {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a01.png) no-repeat;
  overflow: hidden; }

.jssora01l {
  background-position: -8px -38px;
  left: 15px; }

.jssora01r {
  background-position: -68px -38px;
  right: 15px; }

.jssora01l:hover {
  background-position: -128px -38px; }

.jssora01r:hover {
  background-position: -188px -38px; }

.jssora01l.jssora01ldn {
  background-position: -8px -38px; }

.jssora01r.jssora01rdn {
  background-position: -68px -38px; }

.jssora02l, .jssora02r {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a02.png) no-repeat;
  overflow: hidden; }

.jssora02l {
  background-position: -3px -33px;
  left: 15px; }

.jssora02r {
  background-position: -63px -33px;
  right: 15px; }

.jssora02l:hover {
  background-position: -123px -33px; }

.jssora02r:hover {
  background-position: -183px -33px; }

.jssora02l.jssora02ldn {
  background-position: -3px -33px; }

.jssora02r.jssora02rdn {
  background-position: -63px -33px; }

.jssora03l, .jssora03r {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a03.png) no-repeat;
  overflow: hidden; }

.jssora03l {
  background-position: -3px -33px;
  left: 15px; }

.jssora03r {
  background-position: -63px -33px;
  right: 15px; }

.jssora03l:hover {
  background-position: -123px -33px; }

.jssora03r:hover {
  background-position: -183px -33px; }

.jssora03l.jssora03ldn {
  background-position: -243px -33px; }

.jssora03r.jssora03rdn {
  background-position: -303px -33px; }

.jssora04l, .jssora04r {
  display: block;
  position: absolute;
  width: 28px;
  height: 40px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a04.png) no-repeat;
  overflow: hidden; }

.jssora04l {
  background-position: -16px -39px;
  left: 15px; }

.jssora04r {
  background-position: -76px -39px;
  right: 15px; }

.jssora04l:hover {
  background-position: -136px -39px; }

.jssora04r:hover {
  background-position: -196px -39px; }

.jssora04l.jssora04ldn {
  background-position: -256px -39px; }

.jssora04r.jssora04rdn {
  background-position: -316px -39px; }

.jssora05l, .jssora05r {
  display: block;
  position: absolute;
  width: 28px;
  height: 40px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a04.png) no-repeat;
  overflow: hidden; }

.jssora05l {
  background-position: -16px -39px;
  left: 15px; }

.jssora05r {
  background-position: -76px -39px;
  right: 15px; }

.jssora05l:hover {
  background-position: -136px -39px; }

.jssora05r:hover {
  background-position: -196px -39px; }

.jssora05l.jssora05ldn {
  background-position: -256px -39px; }

.jssora05r.jssora05rdn {
  background-position: -316px -39px; }

.jssora06l, .jssora06r {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a06.png) no-repeat;
  overflow: hidden; }

.jssora06l {
  background-position: -8px -38px;
  left: 20px; }

.jssora06r {
  background-position: -68px -38px;
  right: 20px; }

.jssora06l:hover {
  background-position: -128px -38px; }

.jssora06r:hover {
  background-position: -188px -38px; }

.jssora06l.jssora06ldn {
  background-position: -248px -38px; }

.jssora06r.jssora06rdn {
  background-position: -308px -38px; }

.jssora07l, .jssora07r {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a07.png) no-repeat;
  overflow: hidden; }

.jssora07l {
  background-position: -5px -35px;
  left: 15px; }

.jssora07r {
  background-position: -65px -35px;
  right: 15px; }

.jssora07l:hover {
  background-position: -125px -35px; }

.jssora07r:hover {
  background-position: -185px -35px; }

.jssora07l.jssora07ldn {
  background-position: -245px -35px; }

.jssora07r.jssora07rdn {
  background-position: -305px -35px; }

.jssora08l, .jssora08r {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a08.png) no-repeat;
  overflow: hidden;
  opacity: .4;
  filter: alpha(opacity=40); }

.jssora08l {
  background-position: -5px -35px;
  left: 15px; }

.jssora08r {
  background-position: -65px -35px;
  right: 15px; }

.jssora08l:hover {
  background-position: -5px -35px;
  opacity: .8;
  filter: alpha(opacity=80); }

.jssora08r:hover {
  background-position: -65px -35px;
  opacity: .8;
  filter: alpha(opacity=80); }

.jssora08l.jssora08ldn {
  background-position: -5px -35px;
  opacity: .3;
  filter: alpha(opacity=30); }

.jssora08r.jssora08rdn {
  background-position: -65px -35px;
  opacity: .3;
  filter: alpha(opacity=30); }

.jssora09l, .jssora09r {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a09.png) no-repeat;
  overflow: hidden;
  opacity: .4;
  filter: alpha(opacity=40); }

.jssora09l {
  background-position: -5px -35px;
  left: 20px; }

.jssora09r {
  background-position: -65px -35px;
  right: 20px; }

.jssora09l:hover {
  background-position: -5px -35px;
  opacity: .8;
  filter: alpha(opacity=80); }

.jssora09r:hover {
  background-position: -65px -35px;
  opacity: .8;
  filter: alpha(opacity=80); }

.jssora09l.jssora09ldn {
  background-position: -5px -35px;
  opacity: .3;
  filter: alpha(opacity=30); }

.jssora09r.jssora09rdn {
  background-position: -65px -35px;
  opacity: .3;
  filter: alpha(opacity=30); }

.jssora10l, .jssora10r {
  display: block;
  position: absolute;
  width: 28px;
  height: 40px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a10.png) no-repeat;
  overflow: hidden; }

.jssora10l {
  background-position: -16px -39px;
  left: 15px; }

.jssora10r {
  background-position: -76px -39px;
  right: 15px; }

.jssora10l:hover {
  background-position: -136px -39px; }

.jssora10r:hover {
  background-position: -196px -39px; }

.jssora10l.jssora10ldn {
  background-position: -256px -39px; }

.jssora10r.jssora10rdn {
  background-position: -316px -39px; }

.jssora11l, .jssora11r {
  display: block;
  position: absolute;
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a11.png) no-repeat;
  overflow: hidden; }

.jssora11l {
  background-position: -11px -41px;
  left: 15px; }

.jssora11r {
  background-position: -71px -41px;
  right: 15px; }

.jssora11l:hover {
  background-position: -131px -41px; }

.jssora11r:hover {
  background-position: -191px -41px; }

.jssora11l.jssora11ldn {
  background-position: -251px -41px; }

.jssora11r.jssora11rdn {
  background-position: -311px -41px; }

.jssora12l, .jssora12r {
  display: block;
  position: absolute;
  width: 30px;
  height: 46px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a12.png) no-repeat;
  overflow: hidden; }

.jssora12l {
  background-position: -16px -37px;
  left: 15px; }

.jssora12r {
  background-position: -75px -37px;
  right: 15px; }

.jssora12l:hover {
  background-position: -136px -37px; }

.jssora12r:hover {
  background-position: -195px -37px; }

.jssora12l.jssora12ldn {
  background-position: -256px -37px; }

.jssora12r.jssora12rdn {
  background-position: -315px -37px; }

.jssora13l, .jssora13r {
  display: block;
  position: absolute;
  width: 40px;
  height: 50px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a13.png) no-repeat;
  overflow: hidden; }

.jssora13l {
  background-position: -10px -35px;
  left: 15px; }

.jssora13r {
  background-position: -70px -35px;
  right: 15px; }

.jssora13l:hover {
  background-position: -130px -35px; }

.jssora13r:hover {
  background-position: -190px -35px; }

.jssora13l.jssora13ldn {
  background-position: -250px -35px; }

.jssora13r.jssora13rdn {
  background-position: -310px -35px; }

.jssora14l, .jssora14r {
  display: block;
  position: absolute;
  width: 30px;
  height: 50px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a14.png) no-repeat;
  overflow: hidden; }

.jssora14l {
  background-position: -15px -35px;
  left: 20px; }

.jssora14r {
  background-position: -75px -35px;
  right: 20px; }

.jssora14l:hover {
  background-position: -135px -35px; }

.jssora14r:hover {
  background-position: -195px -35px; }

.jssora14l.jssora14ldn {
  background-position: -255px -35px; }

.jssora14r.jssora14rdn {
  background-position: -315px -35px; }

.jssora15l, .jssora15r {
  display: block;
  position: absolute;
  width: 20px;
  height: 38px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a15.png) no-repeat;
  overflow: hidden; }

.jssora15l {
  background-position: -20px -41px;
  left: 15px; }

.jssora15r {
  background-position: -80px -41px;
  right: 15px; }

.jssora15l:hover {
  background-position: -140px -41px; }

.jssora15r:hover {
  background-position: -200px -41px; }

.jssora15l.jssora15ldn {
  background-position: -260px -41px; }

.jssora15r.jssora15rdn {
  background-position: -320px -41px; }

.jssora16l, .jssora16r {
  display: block;
  position: absolute;
  width: 22px;
  height: 36px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a16.png) no-repeat;
  overflow: hidden; }

.jssora16l {
  background-position: -19px -42px;
  left: 15px; }

.jssora16r {
  background-position: -79px -42px;
  right: 15px; }

.jssora16l:hover {
  background-position: -139px -42px; }

.jssora16r:hover {
  background-position: -199px -42px; }

.jssora16l.jssora16ldn {
  background-position: -259px -42px; }

.jssora16r.jssora16rdn {
  background-position: -319px -42px; }

.jssora17l, .jssora17r {
  display: block;
  position: absolute;
  width: 22px;
  height: 36px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a17.png) no-repeat;
  overflow: hidden; }

.jssora17l {
  background-position: -19px -42px;
  left: 15px; }

.jssora17r {
  background-position: -79px -42px;
  right: 15px; }

.jssora17l:hover {
  background-position: -139px -42px; }

.jssora17r:hover {
  background-position: -199px -42px; }

.jssora17l.jssora17ldn {
  background-position: -259px -42px; }

.jssora17r.jssora17rdn {
  background-position: -319px -42px; }

.jssora18l, .jssora18r {
  display: block;
  position: absolute;
  width: 29px;
  height: 29px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a18.png) no-repeat;
  overflow: hidden; }

.jssora18l {
  background-position: -16px -45px;
  left: 15px; }

.jssora18r {
  background-position: -76px -45px;
  right: 15px; }

.jssora18l:hover {
  background-position: -136px -45px; }

.jssora18r:hover {
  background-position: -196px -45px; }

.jssora18l.jssora18ldn {
  background-position: -256px -45px; }

.jssora18r.jssora18rdn {
  background-position: -316px -45px; }

.jssora19l, .jssora19r {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a19.png) no-repeat;
  overflow: hidden; }

.jssora19l {
  background-position: -5px -35px;
  left: 15px; }

.jssora19r {
  background-position: -65px -35px;
  right: 15px; }

.jssora19l:hover {
  background-position: -125px -35px; }

.jssora19r:hover {
  background-position: -185px -35px; }

.jssora19l.jssora19ldn {
  background-position: -245px -35px; }

.jssora19r.jssora19rdn {
  background-position: -305px -35px; }

.jssora20l, .jssora20r {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url(/libraries/jssor-slider/img/a20.png) no-repeat;
  overflow: hidden; }

.jssora20l {
  background-position: -3px -33px;
  left: 15px; }

.jssora20r {
  background-position: -63px -33px;
  right: 15px; }

.jssora20l:hover {
  background-position: -123px -33px; }

.jssora20r:hover {
  background-position: -183px -33px; }

.jssora20l.jssora20ldn {
  background-position: -243px -33px; }

.jssora20r.jssora20rdn {
  background-position: -303px -33px; }

.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(/libraries/jssor-slider/img/a21.png) no-repeat;
  overflow: hidden;
  width: 40px;
  height: 40px; }

.jssora21l {
  background-position: -3px -33px;
  left: 15px; }

.jssora21r {
  background-position: -63px -33px;
  right: 15px; }

.jssora21l:hover {
  background-position: -123px -33px; }

.jssora21r:hover {
  background-position: -183px -33px; }

.jssora21ldn {
  background-position: -243px -33px; }

.jssora21rdn {
  background-position: -303px -33px; }

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid; }

.jssorb01 div {
  background-color: gray; }

.jssorb01 div:hover, .jssorb01 .av:hover {
  background-color: #d3d3d3; }

.jssorb01 .av {
  background-color: #fff; }

.jssorb01 .dn, .jssorb01 .dn:hover {
  background-color: #555555; }

.jssorb02 div, .jssorb02 div:hover, .jssorb02 .av {
  background: url(/libraries/jssor-slider/img/b02.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb02 div {
  background-position: -5px -5px;
  padding-right: 5px; }

.jssorb02 div:hover, .jssorb02 .av:hover {
  background-position: -35px -5px; }

.jssorb02 .av {
  background-position: -65px -5px; }

.jssorb02 .dn, .jssorb02 .dn:hover {
  background-position: -95px -5px; }

.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
  background: url(/libraries/jssor-slider/img/b03.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb03 div {
  background-position: -5px -4px; }

.jssorb03 div:hover, .jssorb03 .av:hover {
  background-position: -35px -4px; }

.jssorb03 .av {
  background-position: -65px -4px; }

.jssorb03 .dn, .jssorb03 .dn:hover {
  background-position: -95px -4px; }

.jssorb04 div, .jssorb04 div:hover, .jssorb04 .av {
  background: url(/libraries/jssor-slider/img/b03.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb04 div {
  background-position: -5px -4px; }

.jssorb04 div:hover, .jssorb04 .av:hover {
  background-position: -35px -4px; }

.jssorb04 .av {
  background-position: -65px -4px; }

.jssorb04 .dn, .jssorb04 .dn:hover {
  background-position: -95px -4px; }

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  background: url(/libraries/jssor-slider/img/b05.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb05 div {
  background-position: -7px -7px; }

.jssorb05 div:hover, .jssorb05 .av:hover {
  background-position: -37px -7px; }

.jssorb05 .av {
  background-position: -67px -7px; }

.jssorb05 .dn, .jssorb05 .dn:hover {
  background-position: -97px -7px; }

.jssorb06 div, .jssorb06 div:hover, .jssorb06 .av {
  background: url(/libraries/jssor-slider/img/b06.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb06 div {
  background-position: -6px -6px; }

.jssorb06 div:hover, .jssorb06 .av:hover {
  background-position: -36px -6px; }

.jssorb06 .av {
  background-position: -66px -6px; }

.jssorb06 .dn, .jssorb06 .dn:hover {
  background-position: -96px -6px; }

.jssorb07 div, .jssorb07 div:hover, .jssorb07 .av {
  background: url(/libraries/jssor-slider/img/b07.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb07 div {
  background-position: -5px -5px; }

.jssorb07 div:hover, .jssorb07 .av:hover {
  background-position: -35px -5px; }

.jssorb07 .av {
  background-position: -65px -5px; }

.jssorb07 .dn, .jssorb07 .dn:hover {
  background-position: -95px -5px; }

.jssorb08 div, .jssorb08 div:hover, .jssorb08 .av {
  background: url(/libraries/jssor-slider/img/b07.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb08 div {
  background-position: -5px -5px; }

.jssorb08 div:hover, .jssorb08 .av:hover {
  background-position: -35px -5px; }

.jssorb08 .av {
  background-position: -65px -5px; }

.jssorb08 .dn, .jssorb08 .dn:hover {
  background-position: -95px -5px; }

.jssorb09 div, .jssorb09 div:hover, .jssorb09 .av {
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  border: #fff 1px solid; }

.jssorb09 div {
  background-color: #d3d3d3; }

.jssorb09 div:hover, .jssorb09 .av:hover {
  background-color: gray; }

.jssorb09 .av {
  background-color: #000; }

.jssorb09 .dn, .jssorb09 .dn:hover {
  background-color: #a9a9a9; }

.jssorb10 div, .jssorb10 div:hover, .jssorb10 .av {
  background: url(/libraries/jssor-slider/img/b10.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb10 div {
  background-position: -10px -10px; }

.jssorb10 div:hover, .jssorb10 .av:hover {
  background-position: -40px -10px; }

.jssorb10 .av {
  background-position: -70px -10px; }

.jssorb10 .dn, .jssorb10 .dn:hover {
  background-position: -100px -10px; }

.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av {
  background: url(/libraries/jssor-slider/img/b11.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb11 div {
  background-position: -10px -10px; }

.jssorb11 div:hover, .jssorb11 .av:hover {
  background-position: -40px -10px; }

.jssorb11 .av {
  background-position: -70px -10px; }

.jssorb11 .dn, .jssorb11 .dn:hover {
  background-position: -100px -10px; }

.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
  background: url(/libraries/jssor-slider/img/b12.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb12 div {
  background-position: -7px -7px; }

.jssorb12 div:hover, .jssorb12 .av:hover {
  background-position: -37px -7px; }

.jssorb12 .av {
  background-position: -67px -7px; }

.jssorb12 .dn, .jssorb12 .dn:hover {
  background-position: -97px -7px; }

.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
  background: url(/libraries/jssor-slider/img/b13.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb13 div {
  background-position: -5px -5px; }

.jssorb13 div:hover, .jssorb13 .av:hover {
  background-position: -35px -5px; }

.jssorb13 .av {
  background-position: -65px -5px; }

.jssorb13 .dn, .jssorb13 .dn:hover {
  background-position: -95px -5px; }

.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
  background: url(/libraries/jssor-slider/img/b14.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb14 div {
  background-position: -9px -9px; }

.jssorb14 div:hover, .jssorb14 .av:hover {
  background-position: -39px -9px; }

.jssorb14 .av {
  background-position: -69px -9px; }

.jssorb14 .dn, .jssorb14 .dn:hover {
  background-position: -99px -9px; }

.jssorb15 div, .jssorb15 div:hover, .jssorb15 .av {
  background: url(/libraries/jssor-slider/img/b14.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb15 div {
  background-position: -9px -9px; }

.jssorb15 div:hover, .jssorb15 .av:hover {
  background-position: -39px -9px; }

.jssorb15 .av {
  background-position: -69px -9px; }

.jssorb15 .dn, .jssorb15 .dn:hover {
  background-position: -99px -9px; }

.jssorb16 div, .jssorb16 div:hover, .jssorb16 .av {
  background: url(/libraries/jssor-slider/img/b16.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb16 div {
  background-position: -5px -5px; }

.jssorb16 div:hover, .jssorb16 .av:hover {
  background-position: -35px -5px; }

.jssorb16 .av {
  background-position: -65px -5px; }

.jssorb16 .dn, .jssorb16 .dn:hover {
  background-position: -95px -5px; }

.jssorb17 div, .jssorb17 div:hover, .jssorb17 .av {
  background: url(/libraries/jssor-slider/img/b17.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb17 div {
  background-position: -7px -7px; }

.jssorb17 div:hover, .jssorb17 .av:hover {
  background-position: -37px -7px; }

.jssorb17 .av {
  background-position: -67px -7px; }

.jssorb17 .dn, .jssorb17 .dn:hover {
  background-position: -97px -7px; }

.jssorb18 div, .jssorb18 div:hover, .jssorb18 .av {
  background: url(/libraries/jssor-slider/img/b18.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb18 div {
  background-position: -3px -3px; }

.jssorb18 div:hover, .jssorb18 .av:hover {
  background-position: -33px -3px; }

.jssorb18 .av {
  background-position: -63px -3px; }

.jssorb18 .dn, .jssorb18 .dn:hover {
  background-position: -93px -3px; }

.jssorb18 .n {
  display: none;
  color: #000; }

.jssorb18 div:hover .n, .jssorb18 .av .n, .jssorb18 .av:hover .n, .jssorb18 .dn .n {
  display: block; }

.jssorb19 div, .jssorb19 div:hover, .jssorb19 .av {
  background: url(/libraries/jssor-slider/img/b20.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb19 div {
  background-position: -5px -5px; }

.jssorb19 div:hover, .jssorb19 .av:hover {
  background-position: -35px -5px; }

.jssorb19 .av {
  background-position: -65px -5px; }

.jssorb19 .dn, .jssorb19 .dn:hover {
  background-position: -95px -5px; }

.jssorb20 div, .jssorb20 div:hover, .jssorb20 .av {
  background: url(/libraries/jssor-slider/img/b20.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb20 div {
  background-position: -5px -5px; }

.jssorb20 div:hover, .jssorb20 .av:hover {
  background-position: -35px -5px; }

.jssorb20 .av {
  background-position: -65px -5px; }

.jssorb20 .dn, .jssorb20 .dn:hover {
  background-position: -95px -5px; }

/*# sourceMappingURL=jssor-skin.css.map */
