@font-face {
  font-family: 'museo100';
  src: url("../fonts/Museo100/museo100-regular-webfont.eot");
  src: url("../fonts/Museo100/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo100/museo100-regular-webfont.woff2") format("woff2"), url("../fonts/Museo100/museo100-regular-webfont.woff") format("woff"), url("../fonts/Museo100/museo100-regular-webfont.ttf") format("truetype"), url("../fonts/Museo100/museo100-regular-webfont.svg#museo100") format("svg");
}
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
}
@font-face {
  font-family: 'helvetica_cebold';
  src: url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.eot");
  src: url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.woff2") format("woff2"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.woff") format("woff"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.ttf") format("truetype"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.svg#helvetica_cebold") format("svg");
}
@font-face {
  font-family: "Museo Slab W01 100";
  src: url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.eot");
  src: url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.woff2") format("woff2"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.woff") format("woff"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.ttf") format("truetype"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.svg#Museo Slab W01 100") format("svg");
}
/* line 1, ../scss/_reset.scss */
* {
  padding: 0;
}

/* line 5, ../scss/_reset.scss */
a, button {
  outline: none;
}

/* line 1, ../scss/_base.scss */
body {
  padding-bottom: 25px;
  margin-top: 0;
}
@media (min-width: 661px) {
  /* line 1, ../scss/_base.scss */
  body {
    padding-top: 127px;
  }
  /* line 6, ../scss/_base.scss */
  body.user-logged-in {
    padding-top: 222px !important;
  }
}

/* line 12, ../scss/_base.scss */
#header {
  background-color: #fff;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
}
/* line 15, ../scss/_base.scss */
#header .logo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 8px;
}
/* line 22, ../scss/_base.scss */
#header .wrapping {
  position: relative;
}
/* line 25, ../scss/_base.scss */
#header .hamburger {
  position: absolute;
  right: 15px;
  bottom: 25px;
  padding: 0;
}
@media (min-width: 769px) {
  /* line 25, ../scss/_base.scss */
  #header .hamburger {
    display: none;
  }
}

/* line 36, ../scss/_base.scss */
.banner {
  width: 100%;
  height: 518px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 48, ../scss/_base.scss */
.banner-title {
  font-family: "Museo Slab W01 100", serif;
}
/* line 50, ../scss/_base.scss */
.banner-title > div {
  text-shadow: #ffffff 0 0 6px;
}

/* line 56, ../scss/_base.scss */
article.page .field--name-body {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 65px;
  color: #333333;
}
/* line 61, ../scss/_base.scss */
article.page .field--name-body h2 {
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 34px;
}
/* line 66, ../scss/_base.scss */
article.page .field--name-body h2:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 79, ../scss/_base.scss */
article.page .field--name-body p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
  margin-bottom: 15px;
}

/* line 86, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #666666;
}
/* line 90, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .form-group {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 501px) {
  /* line 93, ../scss/_base.scss */
  #block-views-block-unsere-kompetenzen-block-block-1 .view-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 99, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .views-row {
  min-width: 225px;
  margin-bottom: 22px;
}
@media (min-width: 501px) {
  /* line 99, ../scss/_base.scss */
  #block-views-block-unsere-kompetenzen-block-block-1 .views-row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
/* line 105, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .views-row > a {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background-color: #ffef42;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* line 117, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .views-row img {
  width: 75%;
  height: auto;
}
/* line 122, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .title {
  font: 20px/1.4em "helvetica_cebold", sans-serif;
  color: #fff;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
/* line 129, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .view-footer {
  text-align: center;
}
/* line 131, ../scss/_base.scss */
#block-views-block-unsere-kompetenzen-block-block-1 .view-footer a {
  color: #fff;
  text-decoration: underline;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}

@media (min-width: 900px) {
  /* line 141, ../scss/_base.scss */
  #block-dassindwir .field--name-body > div {
    height: 490px;
  }
}
@media (max-width: 899px) and (min-width: 621px) {
  /* line 141, ../scss/_base.scss */
  #block-dassindwir .field--name-body > div {
    position: relative;
    height: 400px;
  }
}
@media (max-width: 620px) and (min-width: 415px) {
  /* line 141, ../scss/_base.scss */
  #block-dassindwir .field--name-body > div {
    position: relative;
    height: 500px;
  }
}
@media (max-width: 414px) {
  /* line 141, ../scss/_base.scss */
  #block-dassindwir .field--name-body > div {
    position: relative;
    height: 630px;
  }
}
@media (min-width: 900px) {
  /* line 160, ../scss/_base.scss */
  #block-dassindwir .wrap {
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 899px) {
  /* line 160, ../scss/_base.scss */
  #block-dassindwir .wrap {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f0f0f0;
    width: 98%;
    height: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 900px) {
  /* line 182, ../scss/_base.scss */
  #block-dassindwir .wrapping {
    position: relative;
    width: 50%;
  }
  /* line 186, ../scss/_base.scss */
  #block-dassindwir .wrapping:before {
    content: '';
    width: 2000px;
    height: 490px;
    position: absolute;
    left: -1500px;
    background-color: #f0f0f0;
  }
}
/* line 195, ../scss/_base.scss */
#block-dassindwir .wrapping section {
  position: relative;
  z-index: 1;
  padding-top: 35px;
}
/* line 199, ../scss/_base.scss */
#block-dassindwir .wrapping section p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 203, ../scss/_base.scss */
#block-dassindwir .wrapping .title {
  color: #000000;
  padding-bottom: 16px;
  margin-bottom: 26px;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
}
/* line 209, ../scss/_base.scss */
#block-dassindwir .wrapping .title:after {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #ffee00;
  bottom: 0;
  position: absolute;
  left: 0;
}

/* line 223, ../scss/_base.scss */
.path-dialogmarketing .banner {
  width: 100%;
  height: 518px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
/* line 230, ../scss/_base.scss */
.path-dialogmarketing .body-desription {
  padding-top: 20px;
  padding-bottom: 25px;
}
/* line 233, ../scss/_base.scss */
.path-dialogmarketing .body-desription > h2 {
  color: #333333;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
  padding-bottom: 20px;
}
/* line 238, ../scss/_base.scss */
.path-dialogmarketing .body-desription > h2:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #ffee00;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 253, ../scss/_base.scss */
.path-dialogmarketing .view-unsere-kompetenzen .view-content {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 258, ../scss/_base.scss */
.path-dialogmarketing .view-unsere-kompetenzen img {
  display: block;
}
/* line 261, ../scss/_base.scss */
.path-dialogmarketing .view-unsere-kompetenzen .row-item {
  width: 50%;
  margin-top: 8px;
  margin-bottom: 25px;
}
/* line 267, ../scss/_base.scss */
.path-dialogmarketing .title-w {
  color: #000;
  font: 20px/1.4em "helvetica_cebold", sans-serif;
  margin-top: 20px;
  margin-bottom: 12px;
}
/* line 273, ../scss/_base.scss */
.path-dialogmarketing .img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #ffef42;
  overflow: hidden;
}
/* line 284, ../scss/_base.scss */
.path-dialogmarketing .img img {
  width: 75%;
  height: auto;
}
/* line 289, ../scss/_base.scss */
.path-dialogmarketing .description-w {
  color: #000;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 292, ../scss/_base.scss */
.path-dialogmarketing .description-w a {
  color: #000;
  text-decoration: underline;
}

/* line 299, ../scss/_base.scss */
#block-mainnavigation {
  background-color: #f0f0f0;
  clear: both;
}
/* line 302, ../scss/_base.scss */
#block-mainnavigation .menu {
  padding-top: 5.2px;
  padding-bottom: 5.2px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  float: none;
}
@media (min-width: 769px) {
  /* line 302, ../scss/_base.scss */
  #block-mainnavigation .menu {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  /* line 302, ../scss/_base.scss */
  #block-mainnavigation .menu {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }
  /* line 324, ../scss/_base.scss */
  #block-mainnavigation .menu li {
    float: none;
  }
  /* line 327, ../scss/_base.scss */
  #block-mainnavigation .menu a {
    padding: 15px !important;
  }
}
/* line 331, ../scss/_base.scss */
#block-mainnavigation .menu a {
  font: normal 14px/1.4 "helveticaneuecyrroman", sans-serif;
  padding: 0;
  color: #999999;
  text-transform: uppercase;
  transition: color 0.4s ease 0s;
}
/* line 337, ../scss/_base.scss */
#block-mainnavigation .menu a:hover {
  color: #000;
}
@media (max-width: 768px) {
  /* line 337, ../scss/_base.scss */
  #block-mainnavigation .menu a:hover {
    color: #fff !important;
    background-color: #656565;
  }
}
/* line 344, ../scss/_base.scss */
#block-mainnavigation .menu a.is-active {
  color: #000;
}
@media (max-width: 768px) {
  /* line 351, ../scss/_base.scss */
  #block-mainnavigation .menu li a.is-active {
    color: #fff !important;
    background-color: #656565;
  }
}

/* line 361, ../scss/_base.scss */
#block-osterreichsfuhrendedialogagentur {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 365, ../scss/_base.scss */
#block-osterreichsfuhrendedialogagentur .field--name-body {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

/* line 372, ../scss/_base.scss */
#block-statistics {
  background-color: #ffef42;
  padding-top: 26px;
}
/* line 375, ../scss/_base.scss */
#block-statistics .field--name-body {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 380, ../scss/_base.scss */
#block-bestedialogmarketing {
  background-color: #333333;
  padding-top: 45px;
}
/* line 383, ../scss/_base.scss */
#block-bestedialogmarketing .field--name-body {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
/* line 387, ../scss/_base.scss */
#block-bestedialogmarketing .item-title {
  position: relative;
  font: 19px/1.4em "helvetica_cebold", sans-serif;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 392, ../scss/_base.scss */
#block-bestedialogmarketing .item-title:after {
  content: '';
  width: 150px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 404, ../scss/_base.scss */
#block-bestedialogmarketing .item-title span {
  display: block;
  color: #fff;
}
/* line 409, ../scss/_base.scss */
#block-bestedialogmarketing .item-text {
  color: #fff;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
@media (min-width: 640px) {
  /* line 413, ../scss/_base.scss */
  #block-bestedialogmarketing .items-wrapping {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
/* line 420, ../scss/_base.scss */
#block-bestedialogmarketing .item {
  margin-bottom: 45px;
}
@media (min-width: 801px) {
  /* line 420, ../scss/_base.scss */
  #block-bestedialogmarketing .item {
    width: 33.3%;
  }
}
@media (max-width: 800px) and (min-width: 640px) {
  /* line 420, ../scss/_base.scss */
  #block-bestedialogmarketing .item {
    width: 50%;
  }
}

/* line 431, ../scss/_base.scss */
.flexslider {
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

/* line 438, ../scss/_base.scss */
.flex-control-nav {
  text-align: right;
  padding-right: 10px;
  bottom: 10px;
  z-index: 5;
}
/* line 443, ../scss/_base.scss */
.flex-control-nav a {
  font-size: 0;
  color: transparent;
}

/* line 450, ../scss/_base.scss */
.flex-direction-nav a {
  height: 45px;
}

/* line 455, ../scss/_base.scss */
.statistics-wrapping {
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 501px) {
  /* line 455, ../scss/_base.scss */
  .statistics-wrapping {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 462, ../scss/_base.scss */
.statistics-wrapping .item {
  position: relative;
  text-align: center;
  margin-bottom: 34px;
}
@media (min-width: 501px) {
  /* line 462, ../scss/_base.scss */
  .statistics-wrapping .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 210px;
  }
}
/* line 470, ../scss/_base.scss */
.statistics-wrapping .item:before {
  content: '';
  width: 2px;
  height: 60px;
  background-color: #333333;
  position: absolute;
  right: 3px;
  top: 17px;
}
@media (max-width: 629px) {
  /* line 481, ../scss/_base.scss */
  .statistics-wrapping .item:nth-child(2):before {
    display: none;
  }
}
/* line 487, ../scss/_base.scss */
.statistics-wrapping .item:last-child:before {
  display: none;
}
@media (max-width: 500px) {
  /* line 493, ../scss/_base.scss */
  .statistics-wrapping .item:before {
    display: none;
  }
}
/* line 498, ../scss/_base.scss */
.statistics-wrapping .title {
  font: 40px "helvetica_cebold", sans-serif;
  margin-bottom: 10px;
}
/* line 503, ../scss/_base.scss */
.statistics-wrapping .text span {
  font: 20px/1.1em "helvetica_cebold", sans-serif;
  display: block;
}

/* line 510, ../scss/_base.scss */
#block-footersoc {
  margin-top: 9px;
}
/* line 512, ../scss/_base.scss */
#block-footersoc .menu {
  text-align: center;
}
/* line 514, ../scss/_base.scss */
#block-footersoc .menu li {
  display: inline-block;
}

/* line 520, ../scss/_base.scss */
#block-footercontact {
  text-align: center;
}
/* line 523, ../scss/_base.scss */
#block-footercontact .field--name-body p {
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 526, ../scss/_base.scss */
#block-footercontact .field--name-body p:nth-child(3) a {
  color: #000;
  text-decoration: underline;
}
/* line 530, ../scss/_base.scss */
#block-footercontact .field--name-body p:nth-child(3) span {
  color: #ffee00;
}
/* line 535, ../scss/_base.scss */
#block-footercontact .field--name-body p:nth-child(3) span:first-child {
  font-weight: 600;
}
/* line 539, ../scss/_base.scss */
#block-footercontact .field--name-body p:last-child {
  font: 14px/1.4em "helvetica_cebold", sans-serif;
}
/* line 541, ../scss/_base.scss */
#block-footercontact .field--name-body p:last-child a {
  color: #000;
}
/* line 544, ../scss/_base.scss */
#block-footercontact .field--name-body p:last-child > span {
  color: #ffee00;
}

/* line 552, ../scss/_base.scss */
#block-footersoc {
  margin-bottom: 23px;
}
/* line 555, ../scss/_base.scss */
#block-footersoc .menu a {
  display: block;
  color: transparent !important;
  font-size: 0 !important;
  padding: 0;
  width: 35px;
  height: 35px;
}
/* line 562, ../scss/_base.scss */
#block-footersoc .menu a.facebook {
  background: url("../images/facebook.png") no-repeat center;
}
/* line 565, ../scss/_base.scss */
#block-footersoc .menu a.xing {
  background: url("../images/xing.png") no-repeat center;
}
/* line 568, ../scss/_base.scss */
#block-footersoc .menu a.linkedin {
  background: url("../images/linkedin.png") no-repeat center;
}

/* line 575, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 {
  padding-top: 21px;
  padding-bottom: 20px;
  background-color: #666666;
}
/* line 579, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 .block-title {
  color: #fff;
  padding-bottom: 24px;
  margin-bottom: 30px;
  text-align: center;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
}
/* line 586, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 .block-title:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 599, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 .form-group {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 781px) {
  /* line 602, ../scss/_base.scss */
  #block-views-block-das-alles-sind-wir-block-1 .view-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 608, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 .views-row {
  margin-bottom: 25px;
}
@media (min-width: 781px) {
  /* line 608, ../scss/_base.scss */
  #block-views-block-das-alles-sind-wir-block-1 .views-row {
    width: 50%;
  }
}
/* line 614, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 .img {
  width: 96px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #faa11b;
  overflow: hidden;
}
/* line 625, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 .title {
  color: #fff;
  margin-top: 23px;
  margin-bottom: 11px;
  font: 20px/1.4em "helvetica_cebold", sans-serif;
}
/* line 631, ../scss/_base.scss */
#block-views-block-das-alles-sind-wir-block-1 article {
  color: #fff;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}

@media (max-width: 660px) {
  /* line 637, ../scss/_base.scss */
  .navbar-fixed-top {
    position: static !important;
  }
}

/* line 643, ../scss/_base.scss */
#backtotop {
  width: 32px;
  height: 32px;
  right: 0;
  bottom: 0;
  background-size: 150% auto;
}

/* line 651, ../scss/_base.scss */
#user-login-form {
  max-width: 768px;
  margin: 45px auto;
}

/* line 656, ../scss/_base.scss */
.alert-success {
  border-radius: 0;
  margin-top: 13px;
  margin-bottom: 0;
}

/* line 662, ../scss/_base.scss */
#block-strategieconsulting {
  background-color: #ccc;
  padding-top: 31px;
  padding-bottom: 35px;
}
/* line 666, ../scss/_base.scss */
#block-strategieconsulting h3 {
  color: #000;
  font: 20px/1.4em "helvetica_cebold", sans-serif;
}
/* line 671, ../scss/_base.scss */
#block-strategieconsulting .row-w > div {
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 674, ../scss/_base.scss */
#block-strategieconsulting .row-w.first {
  padding-bottom: 35px;
}
/* line 676, ../scss/_base.scss */
#block-strategieconsulting .row-w.first h3 {
  margin-bottom: 5px;
}
/* line 681, ../scss/_base.scss */
#block-strategieconsulting .row-img {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 551px) {
  /* line 683, ../scss/_base.scss */
  #block-strategieconsulting .row-img img {
    display: block;
    width: 62%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 550px) {
  /* line 683, ../scss/_base.scss */
  #block-strategieconsulting .row-img img {
    width: 95%;
    height: auto;
  }
}
@media (min-width: 781px) {
  /* line 697, ../scss/_base.scss */
  #block-strategieconsulting .wrapping {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 781px) {
  /* line 702, ../scss/_base.scss */
  #block-strategieconsulting .wrapping > div {
    width: 25%;
  }
}
@media (max-width: 780px) {
  /* line 707, ../scss/_base.scss */
  #block-strategieconsulting .wrapping > div:nth-child(2), #block-strategieconsulting .wrapping > div:nth-child(3) {
    display: none;
  }
}
/* line 712, ../scss/_base.scss */
#block-strategieconsulting .wrapping .row-text {
  min-width: 245px;
}
@media (min-width: 831px) {
  /* line 712, ../scss/_base.scss */
  #block-strategieconsulting .wrapping .row-text {
    margin-top: -160px;
  }
}

/* line 722, ../scss/_base.scss */
[data-history-node-id="18"] .img {
  margin-top: 45px;
  background-color: #ccc;
}
/* line 725, ../scss/_base.scss */
[data-history-node-id="18"] .img img {
  width: 100%;
  height: auto;
}

/* line 732, ../scss/_base.scss */
.main-wrap {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

/* line 738, ../scss/_base.scss */
.node--type-unsere-projekte .title {
  margin-top: 35px;
  text-align: center;
}
/* line 741, ../scss/_base.scss */
.node--type-unsere-projekte .title span {
  font: 35px/1.4em "Museo Slab W01 100", serif;
  padding-bottom: 26px;
  margin-bottom: 25px;
  position: relative;
}
/* line 746, ../scss/_base.scss */
.node--type-unsere-projekte .title span:after {
  content: '';
  width: 50%;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 760, ../scss/_base.scss */
.node--type-unsere-projekte .description-wrap {
  text-align: center;
  margin-top: 43px;
  margin-bottom: 50px;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 766, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 45px;
}
/* line 771, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap .field--label {
  font: 20px/1.4em "helvetica_cebold", sans-serif;
  margin-bottom: 5px;
}
/* line 775, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap .field {
  position: relative;
  padding-top: 128px;
  max-width: 260px;
  width: 100%;
}
/* line 780, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap .field:before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  background-color: #ffee00;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 796, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap .field .item {
  margin-bottom: 15px;
}
/* line 798, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap .field .item:last-child {
  margin-bottom: 0;
}
/* line 803, ../scss/_base.scss */
.node--type-unsere-projekte .content-wrap .field--item {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 808, ../scss/_base.scss */
.node--type-unsere-projekte .field--name-field-challenge:before {
  background-image: url("../images/challenge.png");
}
/* line 813, ../scss/_base.scss */
.node--type-unsere-projekte .field--name-field-method:before {
  background-image: url("../images/method.png");
}
/* line 818, ../scss/_base.scss */
.node--type-unsere-projekte .field--name-field-impact:before {
  background-image: url("../images/impact.png");
}
/* line 822, ../scss/_base.scss */
.node--type-unsere-projekte .field--name-dynamic-token-fieldnode-back-to-page {
  position: absolute;
  top: 38px;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* line 829, ../scss/_base.scss */
.node--type-unsere-projekte .field--name-dynamic-token-fieldnode-back-to-page a {
  display: block;
  width: 40px;
  height: 40px;
}

/* line 837, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 839, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .block-title {
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
/* line 844, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .block-title:after {
  content: '';
  background-color: #ffee00;
  width: 130px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 858, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .view-content > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 864, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .views-row {
  width: 48.5%;
  margin-bottom: 25px;
}
/* line 867, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .views-row > a {
  display: block;
  position: relative;
}
/* line 871, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .views-row > a:hover .description-w {
  opacity: 1;
  visibility: visible;
}
/* line 877, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .views-row img {
  width: 100%;
  height: auto;
}
/* line 882, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .description-w {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .35s;
}
/* line 895, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .description-w > div {
  text-align: center;
  color: #000000;
}
/* line 903, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .banner_title {
  font-family: "helvetica_cebold", sans-serif;
}
/* line 906, ../scss/_base.scss */
#block-views-block-unsere-projekte-block-1 .banner_description {
  color: #2F2E2E;
  font: 12px/1.4em "HelveticaNeue-Light", sans-serif;
}

/* line 912, ../scss/_base.scss */
.award {
  background-color: #333333;
  color: #fff;
  margin-top: 100px;
  position: relative;
  padding-top: 88px;
  padding-bottom: 51px;
}
/* line 919, ../scss/_base.scss */
.award:before {
  content: '';
  width: 80px;
  height: 103px;
  background: url("../images/award.svg") no-repeat center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -36px;
}
/* line 931, ../scss/_base.scss */
.award h2 {
  position: relative;
  font: 20px/1.29em "helvetica_cebold", sans-serif;
  padding-bottom: 16px;
  margin-bottom: 10px;
}
/* line 936, ../scss/_base.scss */
.award h2:after {
  content: '';
  width: 150px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 949, ../scss/_base.scss */
.award p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 952, ../scss/_base.scss */
.award .items {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 955, ../scss/_base.scss */
.award .items .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 962, ../scss/_base.scss */
ul.js-pager__items a {
  font: 12px/1.4em "HelveticaNeue-Light", sans-serif;
  color: #000;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
/* line 970, ../scss/_base.scss */
ul.js-pager__items a:hover {
  background-color: transparent;
}

/* line 976, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 {
  background-color: #999999;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 35px;
  color: #fff;
}
/* line 982, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .block-title {
  position: relative;
  text-align: center;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  padding-bottom: 23px;
  margin-bottom: 35px;
}
/* line 988, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .block-title:after {
  content: '';
  width: 130px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 1001, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .form-group {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1004, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .view-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 1009, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .views-row {
  position: relative;
  width: 22.449%;
  margin-bottom: 25px;
}
/* line 1013, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .views-row a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
/* line 1019, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .views-row:hover .text {
  opacity: 1;
  visibility: visible;
}
/* line 1025, ../scss/_base.scss */
#block-views-block-unsere-kunden-block-1 .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font: 14px "helvetica_cebold", sans-serif;
  color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

/* line 1047, ../scss/_base.scss */
#block-views-block-news-block-1 {
  background-color: #ccc;
}
/* line 1049, ../scss/_base.scss */
#block-views-block-news-block-1 .form-group {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 769px) {
  /* line 1052, ../scss/_base.scss */
  #block-views-block-news-block-1 .views-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  /* line 1056, ../scss/_base.scss */
  #block-views-block-news-block-1 .views-row:nth-child(odd) .first {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  /* line 1059, ../scss/_base.scss */
  #block-views-block-news-block-1 .views-row:nth-child(odd) .last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/* line 1065, ../scss/_base.scss */
#block-views-block-news-block-1 .item {
  color: #000;
}
@media (min-width: 769px) {
  /* line 1065, ../scss/_base.scss */
  #block-views-block-news-block-1 .item {
    width: 50%;
  }
}
/* line 1071, ../scss/_base.scss */
#block-views-block-news-block-1 p {
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1073, ../scss/_base.scss */
#block-views-block-news-block-1 p a {
  color: #000;
  text-decoration: underline;
}
/* line 1078, ../scss/_base.scss */
#block-views-block-news-block-1 .first {
  position: relative;
}
@media (min-width: 501px) {
  /* line 1078, ../scss/_base.scss */
  #block-views-block-news-block-1 .first {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  /* line 1078, ../scss/_base.scss */
  #block-views-block-news-block-1 .first {
    padding: 20px 0;
  }
}
/* line 1087, ../scss/_base.scss */
#block-views-block-news-block-1 img {
  width: 100%;
  height: auto;
}
/* line 1091, ../scss/_base.scss */
#block-views-block-news-block-1 .title {
  margin-bottom: 10px;
  font: 20px/1.4em "helvetica_cebold", sans-serif;
}
/* line 1096, ../scss/_base.scss */
#block-views-block-news-block-1 .link a {
  color: #000;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
  text-decoration: underline;
}

/* line 1104, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 {
  padding-top: 25px;
}
/* line 1106, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .block-title {
  color: #333333;
  text-align: center;
  position: relative;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 1113, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .block-title:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 1126, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .title {
  font: 20px/1.4em "helvetica_cebold", sans-serif;
  margin-bottom: 15px;
}
/* line 1130, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .views-row {
  color: #000;
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 25px;
}
/* line 1135, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .views-row:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 1147, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .views-row > p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1151, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .read-more {
  margin-top: 15px;
}
/* line 1153, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .read-more a {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #ffee00;
  font: 19px/1.4em "HelveticaNeue-Light", sans-serif;
  color: #000000;
  display: block;
  width: 84px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 1164, ../scss/_base.scss */
#block-views-block-wir-suchen-immer-gute-leute-block-1 .read-more a:hover {
  text-decoration: none;
}

/* line 1171, ../scss/_base.scss */
#webform-submission-news-form-form {
  max-width: 630px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1178, ../scss/_base.scss */
#webform-submission-news-form-form > p {
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 501px) {
  /* line 1182, ../scss/_base.scss */
  #webform-submission-news-form-form .container-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    height: 178px;
  }
}
/* line 1189, ../scss/_base.scss */
#webform-submission-news-form-form .panel-body {
  border: none;
  padding: 0;
  display: block;
  margin-bottom: -2px;
}
/* line 1194, ../scss/_base.scss */
#webform-submission-news-form-form .panel-body > div {
  width: 100%;
}
/* line 1198, ../scss/_base.scss */
#webform-submission-news-form-form .form-item {
  display: block;
  border: none;
  margin-bottom: 0;
}
@media (min-width: 501px) {
  /* line 1198, ../scss/_base.scss */
  #webform-submission-news-form-form .form-item {
    width: 49%;
  }
}
/* line 1205, ../scss/_base.scss */
#webform-submission-news-form-form .form-item input {
  background-color: #A0A09F;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 2px;
}
/* line 1213, ../scss/_base.scss */
#webform-submission-news-form-form textarea {
  background-color: #A0A09F;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* line 1219, ../scss/_base.scss */
#webform-submission-news-form-form ::-webkit-input-placeholder {
  color: #D3D3D3;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1223, ../scss/_base.scss */
#webform-submission-news-form-form ::-moz-placeholder {
  color: #D3D3D3;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1227, ../scss/_base.scss */
#webform-submission-news-form-form :-moz-placeholder {
  color: #D3D3D3;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1231, ../scss/_base.scss */
#webform-submission-news-form-form :-ms-input-placeholder {
  color: #D3D3D3;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1235, ../scss/_base.scss */
#webform-submission-news-form-form .form-textarea-wrapper {
  height: 100%;
}
/* line 1237, ../scss/_base.scss */
#webform-submission-news-form-form .form-textarea-wrapper textarea {
  height: 100%;
}
@media (max-width: 500px) {
  /* line 1235, ../scss/_base.scss */
  #webform-submission-news-form-form .form-textarea-wrapper {
    margin-top: 2px;
    width: 100%;
  }
  /* line 1243, ../scss/_base.scss */
  #webform-submission-news-form-form .form-textarea-wrapper textarea {
    width: 100%;
  }
}
/* line 1248, ../scss/_base.scss */
#webform-submission-news-form-form > .form-actions {
  text-align: right;
}
/* line 1251, ../scss/_base.scss */
#webform-submission-news-form-form .panel-heading {
  display: none;
}
/* line 1254, ../scss/_base.scss */
#webform-submission-news-form-form button {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
  border: none;
  margin-top: -2px;
  margin-right: 5px;
  border-radius: 0;
  color: #000000;
  cursor: pointer;
  background-color: #ffee00;
}

/* line 1267, ../scss/_base.scss */
.view-teams h3 {
  text-align: center;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 20px;
}
/* line 1273, ../scss/_base.scss */
.view-teams h3:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #FFEE00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 1286, ../scss/_base.scss */
.view-teams .views-row-wrap {
  padding-top: 30px;
}
@media (min-width: 769px) {
  /* line 1286, ../scss/_base.scss */
  .view-teams .views-row-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 1293, ../scss/_base.scss */
.view-teams .views-row {
  margin-bottom: 35px;
}
@media (min-width: 481px) {
  /* line 1293, ../scss/_base.scss */
  .view-teams .views-row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 50%;
  }
}
/* line 1300, ../scss/_base.scss */
.view-teams .img-w {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid rgba(204, 204, 204, 0.25);
}
/* line 1308, ../scss/_base.scss */
.view-teams .item:nth-child(1) {
  color: #fff;
  background-color: #999999;
  padding-top: 25px;
  padding-bottom: 10px;
}
/* line 1313, ../scss/_base.scss */
.view-teams .item:nth-child(1) h3 {
  color: #fff;
}
/* line 1316, ../scss/_base.scss */
.view-teams .item:nth-child(1) .views-row {
  text-align: center;
}
/* line 1319, ../scss/_base.scss */
.view-teams .item:nth-child(1) .item-wrapping {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1325, ../scss/_base.scss */
.view-teams .item:nth-child(1) .img-w {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
/* line 1330, ../scss/_base.scss */
.view-teams .item:nth-child(1) .title {
  font: 18px "helvetica_cebold", sans-serif;
}
/* line 1333, ../scss/_base.scss */
.view-teams .item:nth-child(1) .position {
  margin-bottom: 5px;
  font: 14px "helvetica_cebold", sans-serif;
}
/* line 1337, ../scss/_base.scss */
.view-teams .item:nth-child(1) article {
  font: 14px "HelveticaNeue-Light", sans-serif;
  margin-bottom: 15px;
}
/* line 1341, ../scss/_base.scss */
.view-teams .item:nth-child(1) a {
  background: url("../images/mail.svg") no-repeat left 4px;
  background-size: 20px 12px;
  padding-left: 30px;
  font: 14px "HelveticaNeue-Light", sans-serif;
  color: #fff;
  text-decoration: underline;
}
/* line 1350, ../scss/_base.scss */
.view-teams .item:nth-child(2), .view-teams .item:nth-child(4) {
  color: #000;
  background-color: #F0F0F0;
  padding-top: 25px;
  padding-bottom: 15px;
}
/* line 1355, ../scss/_base.scss */
.view-teams .item:nth-child(2) .item-wrapping, .view-teams .item:nth-child(4) .item-wrapping {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1358, ../scss/_base.scss */
.view-teams .item:nth-child(2) .views-row, .view-teams .item:nth-child(4) .views-row {
  margin-bottom: 45px;
}
@media (min-width: 481px) {
  /* line 1358, ../scss/_base.scss */
  .view-teams .item:nth-child(2) .views-row, .view-teams .item:nth-child(4) .views-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 480px) {
  /* line 1358, ../scss/_base.scss */
  .view-teams .item:nth-child(2) .views-row, .view-teams .item:nth-child(4) .views-row {
    text-align: center;
  }
}
@media (min-width: 481px) {
  /* line 1367, ../scss/_base.scss */
  .view-teams .item:nth-child(2) .img-w, .view-teams .item:nth-child(4) .img-w {
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  /* line 1367, ../scss/_base.scss */
  .view-teams .item:nth-child(2) .img-w, .view-teams .item:nth-child(4) .img-w {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}
/* line 1377, ../scss/_base.scss */
.view-teams .item:nth-child(2) .title, .view-teams .item:nth-child(4) .title {
  font: 18px "helvetica_cebold", sans-serif;
}
/* line 1380, ../scss/_base.scss */
.view-teams .item:nth-child(2) .position, .view-teams .item:nth-child(4) .position {
  font: 14px "helvetica_cebold", sans-serif;
}
/* line 1383, ../scss/_base.scss */
.view-teams .item:nth-child(2) article, .view-teams .item:nth-child(4) article {
  font: 14px "HelveticaNeue-Light", sans-serif;
  margin-top: 6px;
  margin-bottom: 4px;
}
/* line 1388, ../scss/_base.scss */
.view-teams .item:nth-child(2) a, .view-teams .item:nth-child(4) a {
  background: url("../images/mail-b.svg") no-repeat left 4px;
  background-size: 20px 12px;
  padding-left: 30px;
  font: 14px "HelveticaNeue-Light", sans-serif;
  color: #000;
  text-decoration: underline;
}
/* line 1397, ../scss/_base.scss */
.view-teams .item:nth-child(3) {
  color: #fff;
  background-color: #333333;
  padding-top: 25px;
  padding-bottom: 20px;
}
/* line 1402, ../scss/_base.scss */
.view-teams .item:nth-child(3) .item-wrapping {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1405, ../scss/_base.scss */
.view-teams .item:nth-child(3) .views-row {
  margin-bottom: 45px;
}
@media (min-width: 481px) {
  /* line 1405, ../scss/_base.scss */
  .view-teams .item:nth-child(3) .views-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 480px) {
  /* line 1405, ../scss/_base.scss */
  .view-teams .item:nth-child(3) .views-row {
    text-align: center;
  }
}
@media (min-width: 481px) {
  /* line 1414, ../scss/_base.scss */
  .view-teams .item:nth-child(3) .img-w {
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  /* line 1414, ../scss/_base.scss */
  .view-teams .item:nth-child(3) .img-w {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}
/* line 1424, ../scss/_base.scss */
.view-teams .item:nth-child(3) .title {
  font: 18px "helvetica_cebold", sans-serif;
}
/* line 1427, ../scss/_base.scss */
.view-teams .item:nth-child(3) .position {
  font: 14px "helvetica_cebold", sans-serif;
}
/* line 1430, ../scss/_base.scss */
.view-teams .item:nth-child(3) article {
  font: 14px "HelveticaNeue-Light", sans-serif;
  margin-top: 6px;
  margin-bottom: 4px;
}
/* line 1435, ../scss/_base.scss */
.view-teams .item:nth-child(3) a {
  background: url("../images/mail.svg") no-repeat left 4px;
  background-size: 20px 12px;
  padding-left: 30px;
  font: 14px "HelveticaNeue-Light", sans-serif;
  color: #fff;
  text-decoration: underline;
}
/* line 1444, ../scss/_base.scss */
.view-teams .item:nth-child(4) {
  background-color: #CCCCCC;
  padding-top: 25px;
}
@media (max-width: 768px) {
  /* line 1450, ../scss/_base.scss */
  .view-teams br {
    display: none;
  }
}

/* line 1457, ../scss/_base.scss */
#block-dasdialogmarketingbuch .wrap {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  /* line 1457, ../scss/_base.scss */
  #block-dasdialogmarketingbuch .wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 1462, ../scss/_base.scss */
  #block-dasdialogmarketingbuch .wrap section {
    padding: 15px 10px;
  }
}
/* line 1467, ../scss/_base.scss */
#block-dasdialogmarketingbuch .wrapping {
  color: #000;
  position: relative;
  background-color: #F0F0F0;
}
@media (min-width: 769px) {
  /* line 1467, ../scss/_base.scss */
  #block-dasdialogmarketingbuch .wrapping {
    width: 50%;
    height: 527px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  /* line 1477, ../scss/_base.scss */
  #block-dasdialogmarketingbuch .wrapping:after {
    content: '';
    background-color: #F0F0F0;
    width: 2000px;
    height: 100%;
    position: absolute;
    left: -2000px;
    top: 0;
  }
}
/* line 1488, ../scss/_base.scss */
#block-dasdialogmarketingbuch .title {
  position: relative;
  font: 35px/1.2em "Museo Slab W01 100", serif;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 1493, ../scss/_base.scss */
#block-dasdialogmarketingbuch .title:after {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #FFEE00;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 1503, ../scss/_base.scss */
#block-dasdialogmarketingbuch p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1505, ../scss/_base.scss */
#block-dasdialogmarketingbuch p a {
  color: #000;
}

/* line 1511, ../scss/_base.scss */
#block-dmasterweiterbildunginrealtime {
  background-color: #333333;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #fff;
}
/* line 1517, ../scss/_base.scss */
#block-dmasterweiterbildunginrealtime .block-title {
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 1522, ../scss/_base.scss */
#block-dmasterweiterbildunginrealtime .block-title:after {
  content: '';
  width: 300px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFEE00;
}
/* line 1535, ../scss/_base.scss */
#block-dmasterweiterbildunginrealtime p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
  margin-bottom: 20px;
}
/* line 1538, ../scss/_base.scss */
#block-dmasterweiterbildunginrealtime p a {
  color: #fff;
  text-decoration: underline;
}

/* line 1545, ../scss/_base.scss */
.kontakt {
  max-width: 370px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 1553, ../scss/_base.scss */
.kontakt p {
  margin-bottom: 7px !important;
}
/* line 1556, ../scss/_base.scss */
.kontakt a {
  color: #000;
}
/* line 1559, ../scss/_base.scss */
.kontakt strong {
  font-family: "helvetica_cebold", sans-serif;
}

/* line 1564, ../scss/_base.scss */
.place-card {
  display: none !important;
}

/* line 1568, ../scss/_base.scss */
#block-lageplanimdetail {
  margin-top: -50px;
  padding-bottom: 35px;
}
/* line 1571, ../scss/_base.scss */
#block-lageplanimdetail .field--name-body {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 769px) {
  /* line 1571, ../scss/_base.scss */
  #block-lageplanimdetail .field--name-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 769px) {
  /* line 1579, ../scss/_base.scss */
  #block-lageplanimdetail .item:first-child {
    width: 42%;
  }
  /* line 1582, ../scss/_base.scss */
  #block-lageplanimdetail .item:last-child {
    width: 58%;
  }
}
@media (max-width: 768px) {
  /* line 1577, ../scss/_base.scss */
  #block-lageplanimdetail .item {
    text-align: center;
  }
  /* line 1588, ../scss/_base.scss */
  #block-lageplanimdetail .item:last-child {
    margin-top: 25px !important;
  }
}
/* line 1593, ../scss/_base.scss */
#block-lageplanimdetail img {
  width: 100%;
  height: auto;
}
/* line 1597, ../scss/_base.scss */
#block-lageplanimdetail h2 {
  position: relative;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 1602, ../scss/_base.scss */
#block-lageplanimdetail h2:after {
  background-color: #FFEE00;
  content: '';
  width: 113px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  /* line 1602, ../scss/_base.scss */
  #block-lageplanimdetail h2:after {
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 1617, ../scss/_base.scss */
#block-lageplanimdetail p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1620, ../scss/_base.scss */
#block-lageplanimdetail .link {
  margin-top: 25px;
}
/* line 1622, ../scss/_base.scss */
#block-lageplanimdetail .link a {
  text-decoration: underline;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
  color: #000;
}

@media (max-width: 360px) {
  /* line 1630, ../scss/_base.scss */
  #webform-submission-immer-auf-dem-laufenden-bleiben-form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 1637, ../scss/_base.scss */
#block-likefollowsharecomment {
  background-color: #FFEF42;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
}
/* line 1642, ../scss/_base.scss */
#block-likefollowsharecomment h2 {
  font: 20px/1.4em "helvetica_cebold", sans-serif;
}
/* line 1645, ../scss/_base.scss */
#block-likefollowsharecomment .soc-nav {
  margin-top: 15px;
}
/* line 1647, ../scss/_base.scss */
#block-likefollowsharecomment .soc-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 1653, ../scss/_base.scss */
#block-likefollowsharecomment .soc-nav a {
  display: block;
  width: 42px;
  height: 42px;
  font-size: 0 !important;
  color: transparent;
}
/* line 1661, ../scss/_base.scss */
#block-likefollowsharecomment .facebook {
  background: url("../images/facebook-b.png") no-repeat center;
}
/* line 1664, ../scss/_base.scss */
#block-likefollowsharecomment .xing {
  background: url("../images/xing-b.png") no-repeat center;
}
/* line 1667, ../scss/_base.scss */
#block-likefollowsharecomment .linkedin {
  background: url("../images/linkedin-b.png") no-repeat center;
}

/* line 1672, ../scss/_base.scss */
#block-webform-2 {
  margin-top: 15px;
  margin-bottom: 55px;
  text-align: center;
}
/* line 1676, ../scss/_base.scss */
#block-webform-2 .block-title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 35px;
  font: 35px/1.4em "Museo Slab W01 100", serif;
}
/* line 1681, ../scss/_base.scss */
#block-webform-2 .block-title:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #FFEE00;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 1694, ../scss/_base.scss */
#block-webform-2 .form-item, #block-webform-2 button {
  max-width: 325px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1700, ../scss/_base.scss */
#block-webform-2 p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1702, ../scss/_base.scss */
#block-webform-2 p a {
  color: #000;
  text-decoration: underline;
}
/* line 1707, ../scss/_base.scss */
#block-webform-2 .form-item-name {
  margin-top: 55px;
}
/* line 1710, ../scss/_base.scss */
#block-webform-2 [type="text"], #block-webform-2 [type="email"] {
  padding-left: 30px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  box-shadow: none;
}
/* line 1717, ../scss/_base.scss */
#block-webform-2 [type="text"] {
  background: url("../images/man-user.svg") no-repeat 10px center;
  background-size: 14px auto;
}
/* line 1721, ../scss/_base.scss */
#block-webform-2 [type="email"] {
  background: url("../images/envelope.svg") no-repeat 10px center;
  background-size: 14px auto;
}
/* line 1725, ../scss/_base.scss */
#block-webform-2 button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: #000;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
  background-color: #FFEE00;
  border-radius: 0;
  margin-top: 25px;
}

/* line 1737, ../scss/_base.scss */
.items-wrapping {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 381px) {
  /* line 1737, ../scss/_base.scss */
  .items-wrapping {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
}
/* line 1747, ../scss/_base.scss */
.items-wrapping ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1751, ../scss/_base.scss */
.items-wrapping ul a {
  color: #000;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1756, ../scss/_base.scss */
.items-wrapping .item {
  margin-bottom: 45px;
}
@media (min-width: 561px) {
  /* line 1756, ../scss/_base.scss */
  .items-wrapping .item {
    width: 30%;
  }
}
@media (max-width: 560px) and (min-width: 381px) {
  /* line 1756, ../scss/_base.scss */
  .items-wrapping .item {
    width: 48%;
  }
}
/* line 1765, ../scss/_base.scss */
.items-wrapping .header-img {
  width: 96px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  margin-bottom: 10px;
  border: 2px solid #faa11b;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
/* line 1777, ../scss/_base.scss */
.items-wrapping .header-img img {
  width: 95%;
  height: auto;
}
/* line 1782, ../scss/_base.scss */
.items-wrapping .title {
  font: 17px/1.4em "helvetica_cebold", sans-serif;
  margin-bottom: 5px;
}

/* line 1788, ../scss/_base.scss */
.map-google-wrap {
  position: relative;
}
/* line 1790, ../scss/_base.scss */
.map-google-wrap iframe {
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative;
  /* IE needs a position other than static */
}
/* line 1795, ../scss/_base.scss */
.map-google-wrap iframe.clicked {
  pointer-events: auto;
}

/* line 1801, ../scss/_base.scss */
#block-languageswitcher {
  position: absolute;
  right: 5px;
  top: -5px;
}
/* line 1806, ../scss/_base.scss */
#block-languageswitcher .links li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 1815, ../scss/_base.scss */
.language-link {
  font-size: 0 !important;
  color: transparent !important;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 1823, ../scss/_base.scss */
.language-link[hreflang="en"] {
  background-image: url("../images/united-kingdom.svg");
}
/* line 1826, ../scss/_base.scss */
.language-link[hreflang="de"] {
  background-image: url("../images/germany.svg");
}
/* line 1829, ../scss/_base.scss */
.language-link.is-active {
  position: relative;
}
/* line 1831, ../scss/_base.scss */
.language-link.is-active:before {
  content: '';
  background-color: rgba(255, 238, 0, 0.45);
  position: absolute;
  width: 32px;
  height: 25px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 1846, ../scss/_base.scss */
#block-webform {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1851, ../scss/_base.scss */
#block-webform .panel-heading {
  display: none;
}
/* line 1854, ../scss/_base.scss */
#block-webform .panel-body {
  display: block;
}
/* line 1857, ../scss/_base.scss */
#block-webform .panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* line 1862, ../scss/_base.scss */
#block-webform .panel-body {
  padding: 0;
}
@media (min-width: 391px) {
  /* line 1866, ../scss/_base.scss */
  #block-webform .container-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 1869, ../scss/_base.scss */
  #block-webform .container-inline > div {
    width: 48.5%;
  }
}
@media (max-width: 390px) {
  /* line 1875, ../scss/_base.scss */
  #block-webform .container-inline {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 1880, ../scss/_base.scss */
#block-webform .form-actions {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 1884, ../scss/_base.scss */
#block-webform .form-actions button {
  margin-right: 0;
}
/* line 1888, ../scss/_base.scss */
#block-webform .form-group {
  margin-bottom: 0;
}
/* line 1891, ../scss/_base.scss */
#block-webform .form-control {
  height: 30px;
  padding: 3px 7px;
}
/* line 1895, ../scss/_base.scss */
#block-webform textarea {
  height: 170px !important;
}
/* line 1898, ../scss/_base.scss */
#block-webform input, #block-webform textarea {
  color: #fff;
  background-color: #A0A09F;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
}
/* line 1906, ../scss/_base.scss */
#block-webform ::-webkit-input-placeholder {
  color: #fff;
}
/* line 1909, ../scss/_base.scss */
#block-webform ::-moz-placeholder {
  color: #fff;
}
/* line 1912, ../scss/_base.scss */
#block-webform :-moz-placeholder {
  color: #fff;
}
/* line 1915, ../scss/_base.scss */
#block-webform :-ms-input-placeholder {
  color: #fff;
}
/* line 1918, ../scss/_base.scss */
#block-webform .btn-primary {
  color: #000;
  background-color: #FFEE00;
  border: none;
  border-radius: 0;
}
@media (min-width: 391px) {
  /* line 1918, ../scss/_base.scss */
  #block-webform .btn-primary {
    margin-top: -20px;
  }
}

/* line 1930, ../scss/_base.scss */
#webform-submission-news-form-node-58-form > p {
  text-align: center;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
  margin-bottom: 35px;
}

/* line 1937, ../scss/_base.scss */
.field--name-field-google-map {
  margin-top: -35px;
  padding-bottom: 50px;
}
/* line 1940, ../scss/_base.scss */
.field--name-field-google-map h2 {
  display: none;
}

/* line 1945, ../scss/_base.scss */
.medieninhaber {
  text-align: left;
  max-width: 930px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1951, ../scss/_base.scss */
.medieninhaber a {
  color: #000;
  text-decoration: underline;
}
/* line 1955, ../scss/_base.scss */
.medieninhaber .sub-title {
  font: 17px/1.4em "helvetica_cebold", sans-serif;
  margin-top: 25px;
}
/* line 1959, ../scss/_base.scss */
.medieninhaber .title-row {
  color: #333333;
  text-align: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font: 35px/1.4em "Museo Slab W01 100", serif;
}
/* line 1967, ../scss/_base.scss */
.medieninhaber .title-row:after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #ffee00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 1983, ../scss/_base.scss */
[data-history-node-id="118"] .field--name-body {
  padding-top: 0 !important;
}
/* line 1986, ../scss/_base.scss */
[data-history-node-id="118"] [data-parallax="scroll"] {
  height: 518px;
  overflow: hidden;
}
/* line 1990, ../scss/_base.scss */
[data-history-node-id="118"] .paraxify {
  background-image: url("../images/f12746_25114342f35e41e885c0200da2e3c6b2~mv2.jpg");
}

/* line 1995, ../scss/_base.scss */
.medieninhaber-wrap {
  max-width: 930px;
  width: 100%;
  height: 518px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 2002, ../scss/_base.scss */
.medieninhaber-wrap .wrapping {
  position: relative;
  background-color: #F0F0F0;
  width: 49.5%;
  height: 518px;
}
/* line 2007, ../scss/_base.scss */
.medieninhaber-wrap .wrapping:after {
  content: '';
  width: 2000px;
  height: 518px;
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  left: -2000px;
}
/* line 2017, ../scss/_base.scss */
.medieninhaber-wrap .header-banner {
  padding-top: 55px;
  padding-bottom: 40px;
}

/* line 2023, ../scss/_base.scss */
.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 7, ../scss/_hamburgers.scss */
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger:hover {
  opacity: .7;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger-inner:before {
  top: -10px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger-inner:after {
  bottom: -10px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx .hamburger-inner:after, .hamburger--3dx .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx.is-active .hamburger-inner {
  transform: rotateY(180deg);
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx-r .hamburger-inner:after, .hamburger--3dx-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx-r.is-active .hamburger-inner {
  transform: rotateY(-180deg);
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dx-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy .hamburger-inner:after, .hamburger--3dy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy.is-active .hamburger-inner {
  transform: rotateX(-180deg);
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy-r .hamburger-inner:after, .hamburger--3dy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy-r.is-active .hamburger-inner {
  transform: rotateX(180deg);
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--3dy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrow.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrow.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrow-r.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrow-r.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt-r .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt-r .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--arrowalt-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(0.7);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner:after, .hamburger--boring .hamburger-inner:before {
  transition-property: none;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--boring.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--boring.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: .275s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic .hamburger-inner:before {
  top: 10px;
  transition: opacity .125s ease .275s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(135deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(-270deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: .275s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic-r .hamburger-inner:before {
  top: 10px;
  transition: opacity .125s ease .275s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic-r .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic-r.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(-135deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--elastic-r.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(270deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic {
  overflow: hidden;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic .hamburger-inner {
  transition: background-color .125s ease-in .175s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic.is-active .hamburger-inner:before {
  top: -80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic.is-active .hamburger-inner:after {
  top: -80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r {
  overflow: hidden;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color .125s ease-in .175s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r.is-active .hamburger-inner:before {
  top: 80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--emphatic-r.is-active .hamburger-inner:after {
  top: 80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform,opacity;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider .hamburger-inner:after {
  top: 20px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider-r .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform,opacity;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider-r .hamburger-inner:after {
  top: 20px;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider-r.is-active .hamburger-inner:before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--slider-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear .13s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: .22s;
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0s linear;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring-r .hamburger-inner:before {
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring-r.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s linear 0.22s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spring-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(90deg);
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand-r .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand-r .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand-r .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand-r.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(-90deg);
  background-color: transparent;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--stand-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .22s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s,opacity .1s ease-in;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .22s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin-r .hamburger-inner:before {
  transition: top .1s ease-in .25s,opacity .1s ease-in;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin-r .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-225deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease .12s,opacity 75ms ease;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease,opacity 75ms ease .12s;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: .2s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex .hamburger-inner:after, .hamburger--vortex .hamburger-inner:before {
  transition-delay: .1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex .hamburger-inner:before {
  transition-property: top,opacity;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom,transform;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(765deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner:after, .hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(90deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: .2s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r .hamburger-inner:after, .hamburger--vortex-r .hamburger-inner:before {
  transition-delay: .1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r .hamburger-inner:before {
  transition-property: top,opacity;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r .hamburger-inner:after {
  transition-property: bottom,transform;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(-765deg);
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r.is-active .hamburger-inner:after, .hamburger--vortex-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

/* line 7, ../scss/_hamburgers.scss */
.hamburger--vortex-r.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}
