<div id="page">
    <div id="header" class="navbar-fixed-top clearfix">
        <div class="wrapping">
            <div class="logo">
                {{ page.navigation }}
            </div>

            {% if page.header %}
                {% block header %}
                    {{ page.header }}
                {% endblock %}
            {% endif %}

            <div class="hamburger hamburger--spin">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>

    {% block main %}
        <div role="main">

            {# Highlighted #}
            {% if page.highlighted %}
                {% block highlighted %}
                    <div class="highlighted">{{ page.highlighted }}</div>
                {% endblock %}
            {% endif %}

            {# Breadcrumbs #}
            {% if breadcrumb %}
                {% block breadcrumb %}
                    {{ breadcrumb }}
                {% endblock %}
            {% endif %}

            {# Action Links #}
            {% if action_links %}
                {% block action_links %}
                    <ul class="action-links">{{ action_links }}</ul>
                {% endblock %}
            {% endif %}

            {# Help #}
            {% if page.help %}
                {% block help %}
                    {{ page.help }}
                {% endblock %}
            {% endif %}

            {# Content #}
            {% block content %}
                <a id="main-content"></a>
                {{ page.content }}
            {% endblock %}

        </div>

    {% endblock %}

    {% if page.footer %}
        {% block footer %}
            {{ page.footer }}
        {% endblock %}
    {% endif %}
</div>