body {
  padding-bottom: 25px;
  margin-top: 0;
  @media (min-width: 661px) {
    padding-top: 127px;
    &.user-logged-in {
      padding-top: 222px !important;
    }
  }
}

#header {
  background-color: #fff;
  box-shadow: 0.00px 0.00px 25px 10px rgba(0, 0, 0, 0.25);
  .logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .wrapping {
    position: relative;
  }
  .hamburger {
    position: absolute;
    right: 15px;
    bottom: 25px;
    padding: 0;
    @media (min-width: 769px) {
      display: none;
    }
  }
}

.banner {
  width: 100%;
  height: 518px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-family: $museolight;
  > div {
    text-shadow: #ffffff 0 0 6px;
  }
}

article.page {
  .field--name-body {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 65px;
    color: #333333;
    h2 {
      font: 35px/1.4em $museolight;
      position: relative;
      padding-bottom: 24px;
      margin-bottom: 34px;
      &:after {
        content: '';
        width: 300px;
        height: 5px;
        background-color: rgba(255, 238, 0, 1);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p {
      font: 17px/1.4em $HelveticaNeueLight;
      margin-bottom: 15px;
    }
  }
}

#block-views-block-unsere-kompetenzen-block-block-1 {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgba(102, 102, 102, 1);
  .form-group {
    @include wrap;
  }
  .view-content {
    @media (min-width: 501px) {
      @include flexbox;
      @include flex-wrap(wrap);
    }
  }
  .views-row {
    @media (min-width: 501px) {
      @include flex(1);
    }
    min-width: 225px;
    margin-bottom: 22px;
    > a {
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      background-color: rgba(255, 239, 66, 1);
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    img {
      width: 75%;
      height: auto;
    }
  }
  .title {
    font: 20px/1.4em $helvetica_cebold;
    color: #fff;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .view-footer {
    text-align: center;
    a {
      color: #fff;
      text-decoration: underline;
      font: 17px/1.4em $HelveticaNeueLight;
    }
  }
}

#block-dassindwir {
  .field--name-body {
    > div {
      @media (min-width: 900px) {
        height: 490px;
      }
      @media (max-width: 899px) and (min-width: 621px) {
        position: relative;
        height: 400px;
      }
      @media (max-width: 620px) and (min-width: 415px) {
        position: relative;
        height: 500px;
      }
      @media (max-width: 414px) {
        position: relative;
        height: 630px;
      }
    }
  }

  .wrap {
    @media (min-width: 900px) {
      max-width: 920px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      @include flexbox;
    }
    @media (max-width: 899px) {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #f0f0f0;
      width: 98%;
      height: 90%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .wrapping {
    @media (min-width: 900px) {
      position: relative;
      width: 50%;
      &:before {
        content: '';
        width: 2000px;
        height: 490px;
        position: absolute;
        left: -1500px;
        background-color: rgba(240, 240, 240, 1);
      }
    }
    section {
      position: relative;
      z-index: 1;
      padding-top: 35px;
      p {
        font: 17px/1.4em $HelveticaNeueLight;
      }
    }
    .title {
      color: #000000;
      padding-bottom: 16px;
      margin-bottom: 26px;
      font: 35px/1.4em $museolight;
      position: relative;
      &:after {
        content: '';
        width: 100px;
        height: 5px;
        background-color: rgb(255, 238, 0);
        bottom: 0;
        position: absolute;
        left: 0;
      }
    }
  }
}

.path-dialogmarketing {
  .banner {
    width: 100%;
    height: 518px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }
  .body-desription {
    padding-top: 20px;
    padding-bottom: 25px;
    > h2 {
      color: #333333;
      font: 35px/1.4em $museolight;
      position: relative;
      padding-bottom: 20px;
      &:after {
        content: '';
        width: 300px;
        height: 5px;
        background-color: rgb(255, 238, 0);
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .view-unsere-kompetenzen {
    .view-content {
      @include wrap;
      @include flexbox;
      @include flex-wrap(wrap);
    }
    img {
      display: block;
    }
    .row-item {
      width: 50%;
      margin-top: 8px;
      margin-bottom: 25px;
    }
  }
  .title-w {
    color: #000;
    font: 20px/1.4em $helvetica_cebold;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .img {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: rgba(255, 239, 66, 1);
    overflow: hidden;
    img {
      width: 75%;
      height: auto;
    }
  }
  .description-w {
    color: #000;
    font: 14px/1.4em $HelveticaNeueLight;
    a {
      color: #000;
      text-decoration: underline;
    }
  }
}

#block-mainnavigation {
  background-color: rgb(240, 240, 240);
  clear: both;
  .menu {
    padding-top: 5.2px;
    padding-bottom: 5.2px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: none;
    @media (min-width: 769px) {
      @include wrap;
      @include flexbox;
      @include justify-content(space-between);
    }
    @media (max-width: 768px) {
      display: none;
      position: absolute;
      top: 110px;
      left: 0;
      right: 0;
      z-index: 10;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      li {
        float: none;
      }
      a {
        padding: 15px !important;
      }
    }
    a {
      font: normal 14px/1.4 $helveticaneuecyrroman;
      padding: 0;
      color: #999999;
      text-transform: uppercase;
      transition: color 0.4s ease 0s;
      &:hover {
        color: #000;
        @media (max-width: 768px) {
          color: #fff !important;
          background-color: #656565;
        }
      }
      &.is-active {
        color: #000;
      }
    }
    @media (max-width: 768px) {
      li {
        a {
          &.is-active {
            color: #fff !important;
            background-color: #656565;
          }
        }
      }
    }
  }
}

#block-osterreichsfuhrendedialogagentur {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  .field--name-body {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}

#block-statistics {
  background-color: rgb(255, 239, 66);
  padding-top: 26px;
  .field--name-body {
    @include wrap;
  }
}

#block-bestedialogmarketing {
  background-color: rgb(51, 51, 51);
  padding-top: 45px;
  .field--name-body {
    @include wrap;
    text-align: center;
  }
  .item-title {
    position: relative;
    font: 19px/1.4em $helvetica_cebold;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after {
      content: '';
      width: 150px;
      height: 5px;
      background-color: rgb(255, 238, 0);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    span {
      display: block;
      color: #fff;
    }
  }
  .item-text {
    color: #fff;
    font: 17px/1.4em $HelveticaNeueLight;
  }
  .items-wrapping {
    @media (min-width: 640px) {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
  }
  .item {
    @media (min-width: 801px) {
      width: 33.3%;
    }
    @media (max-width: 800px) and (min-width: 640px) {
      width: 50%;
    }
    margin-bottom: 45px;
  }
}

.flexslider {
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.flex-control-nav {
  text-align: right;
  padding-right: 10px;
  bottom: 10px;
  z-index: 5;
  a {
    font-size: 0;
    color: transparent;
  }
}

.flex-direction-nav {
  a {
    height: 45px;
  }
}

.statistics-wrapping {
  padding-top: 35px;
  padding-bottom: 35px;
  @media (min-width: 501px) {
    @include flexbox;
    @include flex-wrap(wrap);
  }
  .item {
    @media (min-width: 501px) {
      @include flex(1);
      min-width: 210px;
    }
    position: relative;
    text-align: center;
    margin-bottom: 34px;
    &:before {
      content: '';
      width: 2px;
      height: 60px;
      background-color: rgb(51, 51, 51);
      position: absolute;
      right: 3px;
      top: 17px;
    }
    &:nth-child(2) {
      @media (max-width: 629px) {
        &:before {
          display: none;
        }
      }
    }
    &:last-child {
      &:before {
        display: none;
      }
    }

    @media (max-width: 500px) {
      &:before {
        display: none;
      }
    }
  }
  .title {
    font: 40px $helvetica_cebold;
    margin-bottom: 10px;
  }
  .text {
    span {
      font: 20px/1.1em $helvetica_cebold;
      display: block;
    }
  }
}

#block-footersoc {
  margin-top: 9px;
  .menu {
    text-align: center;
    li {
      display: inline-block;
    }
  }
}

#block-footercontact {
  text-align: center;
  .field--name-body {
    p {
      font: 14px/1.4em $HelveticaNeueLight;
      &:nth-child(3) {
        a {
          color: #000;
          text-decoration: underline;
        }
        span {
          color: #ffee00;
        }
      }
      &:nth-child(3) {
        span:first-child {
          font-weight: 600;
        }
      }
      &:last-child {
        font: 14px/1.4em $helvetica_cebold;
        a {
          color: #000;
        }
        > span {
          color: #ffee00;
        }
      }
    }
  }
}

#block-footersoc {
  margin-bottom: 23px;
  .menu {
    a {
      display: block;
      color: transparent !important;
      font-size: 0 !important;
      padding: 0;
      width: 35px;
      height: 35px;
      &.facebook {
        background: url("../images/facebook.png") no-repeat center;
      }
      &.xing {
        background: url("../images/xing.png") no-repeat center;
      }
      &.linkedin {
        background: url("../images/linkedin.png") no-repeat center;
      }
    }
  }
}

#block-views-block-das-alles-sind-wir-block-1 {
  padding-top: 21px;
  padding-bottom: 20px;
  background-color: rgb(102, 102, 102);
  .block-title {
    color: #fff;
    padding-bottom: 24px;
    margin-bottom: 30px;
    text-align: center;
    font: 35px/1.4em $museolight;
    position: relative;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .form-group {
    @include wrap;
  }
  .view-content {
    @media (min-width: 781px) {
      @include flexbox;
      @include flex-wrap(wrap);
    }
  }
  .views-row {
    margin-bottom: 25px;
    @media (min-width: 781px) {
      width: 50%;
    }
  }
  .img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(250, 161, 27);
    overflow: hidden;
  }
  .title {
    color: #fff;
    margin-top: 23px;
    margin-bottom: 11px;
    font: 20px/1.4em $helvetica_cebold;
  }
  article {
    color: #fff;
    font: 14px/1.4em $HelveticaNeueLight;
  }
}

.navbar-fixed-top {
  @media (max-width: 660px) {
    position: static !important;
  }
}

#backtotop {
  width: 32px;
  height: 32px;
  right: 0;
  bottom: 0;
  background-size: 150% auto;
}

#user-login-form {
  max-width: 768px;
  margin: 45px auto;
}

.alert-success {
  border-radius: 0;
  margin-top: 13px;
  margin-bottom: 0;
}

#block-strategieconsulting {
  background-color: #ccc;
  padding-top: 31px;
  padding-bottom: 35px;
  h3 {
    color: #000;
    font: 20px/1.4em $helvetica_cebold;
  }
  .row-w {
    > div {
      font: 14px/1.4em $HelveticaNeueLight;
    }
    &.first {
      padding-bottom: 35px;
      h3 {
        margin-bottom: 5px;
      }
    }
  }
  .row-img {
    @include wrap;
    img {
      @media (min-width: 551px) {
        display: block;
        width: 62%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 550px) {
        width: 95%;
        height: auto;
      }
    }
  }
  .wrapping {
    @media (min-width: 781px) {
      @include wrap;
      @include flexbox;
    }
    > div {
      @media (min-width: 781px) {
        width: 25%;
      }
      @media (max-width: 780px) {
        &:nth-child(2), &:nth-child(3) {
          display: none;
        }
      }
    }
    .row-text {
      min-width: 245px;
      @media (min-width: 831px) {
        margin-top: -160px;
      }
    }
  }
}

[data-history-node-id="18"] {
  .img {
    margin-top: 45px;
    background-color: #ccc;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.main-wrap {
  @include wrap;
  position: relative;
}

.node--type-unsere-projekte {
  .title {
    margin-top: 35px;
    text-align: center;
    span {
      font: 35px/1.4em $museolight;
      padding-bottom: 26px;
      margin-bottom: 25px;
      position: relative;
      &:after {
        content: '';
        width: 50%;
        height: 5px;
        background-color: rgb(255, 238, 0);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .description-wrap {
    text-align: center;
    margin-top: 43px;
    margin-bottom: 50px;
    font: 17px/1.4em $HelveticaNeueLight;
  }
  .content-wrap {
    @include wrap;
    @include flexbox;
    @include justify-content(space-between);
    margin-bottom: 45px;
    .field--label {
      font: 20px/1.4em $helvetica_cebold;
      margin-bottom: 5px;
    }
    .field {
      position: relative;
      padding-top: 128px;
      max-width: 260px;
      width: 100%;
      &:before {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        background-color: rgb(255, 238, 0);
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
      }
      .item {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .field--item {
      font: 17px/1.4em $HelveticaNeueLight;
    }
  }
  .field--name-field-challenge {
    &:before {
      background-image: url("../images/challenge.png");
    }
  }
  .field--name-field-method {
    &:before {
      background-image: url("../images/method.png");
    }
  }
  .field--name-field-impact {
    &:before {
      background-image: url("../images/impact.png");
    }
  }
  .field--name-dynamic-token-fieldnode-back-to-page {
    position: absolute;
    top: 38px;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    a {
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}

#block-views-block-unsere-projekte-block-1 {
  @include wrap;
  .block-title {
    position: relative;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    &:after {
      content: '';
      background-color: #ffee00;
      width: 130px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .view-content {
    > div {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
  }
  .views-row {
    width: 48.5%;
    margin-bottom: 25px;
    > a {
      display: block;
      position: relative;
      &:hover {
        .description-w {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .description-w {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    > div {
      text-align: center;
      color: #000000;
    }
    opacity: 0;
    visibility: hidden;
    transition: .35s;
  }
  .banner_title {
    font-family: $helvetica_cebold;
  }
  .banner_description {
    color: #2F2E2E;
    font: 12px/1.4em $HelveticaNeueLight;
  }
}

.award {
  background-color: #333333;
  color: #fff;
  margin-top: 100px;
  position: relative;
  padding-top: 88px;
  padding-bottom: 51px;
  &:before {
    content: '';
    width: 80px;
    height: 103px;
    background: url("../images/award.svg") no-repeat center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -36px;
  }
  h2 {
    position: relative;
    font: 20px/1.29em $helvetica_cebold;
    padding-bottom: 16px;
    margin-bottom: 10px;
    &:after {
      content: '';
      width: 150px;
      height: 5px;
      background-color: rgb(255, 238, 0);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    font: 17px/1.4em $HelveticaNeueLight;
  }
  .items {
    @include wrap;
    @include flexbox;
    .item {
      @include flex(1);
    }
  }
}

ul.js-pager__items {
  a {
    font: 12px/1.4em $HelveticaNeueLight;
    color: #000;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    &:hover {
      background-color: transparent;
    }
  }
}

#block-views-block-unsere-kunden-block-1 {
  background-color: #999999;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 35px;
  color: #fff;
  .block-title {
    position: relative;
    text-align: center;
    font: 35px/1.4em $museolight;
    padding-bottom: 23px;
    margin-bottom: 35px;
    &:after {
      content: '';
      width: 130px;
      height: 5px;
      background-color: rgb(255, 238, 0);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .form-group {
    @include wrap;
  }
  .view-content {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
  .views-row {
    position: relative;
    width: 22.449%;
    margin-bottom: 25px;
    a {
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
    }
    &:hover {
      .text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .text {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    font: 14px $helvetica_cebold;
    color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease .15s;
  }
}

#block-views-block-news-block-1 {
  background-color: #ccc;
  .form-group {
    @include wrap;
  }
  .views-row {
    @media (min-width: 769px) {
      @include flexbox;
      &:nth-child(odd) {
        .first {
          @include order(2);
        }
        .last {
          @include order(1);
        }
      }
    }
  }
  .item {
    color: #000;
    @media (min-width: 769px) {
      width: 50%;
    }
  }
  p {
    font: 14px/1.4em $HelveticaNeueLight;
    a {
      color: #000;
      text-decoration: underline;
    }
  }
  .first {
    position: relative;
    @media (min-width: 501px) {
      padding: 20px;
    }
    @media (max-width: 500px) {
      padding: 20px 0;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .title {
    margin-bottom: 10px;
    font: 20px/1.4em $helvetica_cebold;
  }
  .link {
    a {
      color: #000;
      font: 14px/1.4em $HelveticaNeueLight;
      text-decoration: underline;
    }
  }
}

#block-views-block-wir-suchen-immer-gute-leute-block-1 {
  padding-top: 25px;
  .block-title {
    color: #333333;
    text-align: center;
    position: relative;
    font: 35px/1.4em $museolight;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: rgb(255, 238, 0);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .title {
    font: 20px/1.4em $helvetica_cebold;
    margin-bottom: 15px;
  }
  .views-row {
    color: #000;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 25px;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: rgb(255, 238, 0);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
    > p {
      font: 17px/1.4em $HelveticaNeueLight;
    }
  }
  .read-more {
    margin-top: 15px;
    a {
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: rgb(255, 238, 0);
      font: 19px/1.4em $HelveticaNeueLight;
      color: #000000;
      display: block;
      width: 84px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#webform-submission-news-form-form {
  max-width: 630px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  > p {
    text-align: center;
    margin-bottom: 15px;
  }
  .container-inline {
    @media (min-width: 501px) {
      @include flexbox;
      @include justify-content(space-between);
      height: 178px;
    }
  }
  .panel-body {
    border: none;
    padding: 0;
    display: block;
    margin-bottom: -2px;
    > div {
      width: 100%;
    }
  }
  .form-item {
    display: block;
    border: none;
    margin-bottom: 0;
    @media (min-width: 501px) {
      width: 49%;
    }
    input {
      background-color: #A0A09F;
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 2px;
    }
  }
  textarea {
    background-color: #A0A09F;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em $HelveticaNeueLight;
  }
  ::-moz-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em $HelveticaNeueLight;
  }
  :-moz-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em $HelveticaNeueLight;
  }
  :-ms-input-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em $HelveticaNeueLight;
  }
  .form-textarea-wrapper {
    height: 100%;
    textarea {
      height: 100%;
    }
    @media (max-width: 500px) {
      margin-top: 2px;
      width: 100%;
      textarea {
        width: 100%;
      }
    }
  }
  > .form-actions {
    text-align: right;
  }
  .panel-heading {
    display: none;
  }
  button {
    font: 17px/1.4em $HelveticaNeueLight;
    border: none;
    margin-top: -2px;
    margin-right: 5px;
    border-radius: 0;
    color: #000000;
    cursor: pointer;
    background-color: rgba(255, 238, 0, 1);
  }
}

.view-teams {
  h3 {
    text-align: center;
    font: 35px/1.4em $museolight;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 20px;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #FFEE00;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .views-row-wrap {
    @media (min-width: 769px) {
      @include flexbox;
      @include flex-wrap(wrap);
    }
    padding-top: 30px;
  }
  .views-row {
    margin-bottom: 35px;
    @media (min-width: 481px) {
      @include flex(1);
      min-width: 50%;
    }
  }
  .img-w {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid rgba(204, 204, 204, .25);
  }
  .item {
    &:nth-child(1) {
      color: #fff;
      background-color: #999999;
      padding-top: 25px;
      padding-bottom: 10px;
      h3 {
        color: #fff;
      }
      .views-row {
        text-align: center;
      }
      .item-wrapping {
        max-width: 768px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .img-w {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
      }
      .title {
        font: 18px $helvetica_cebold;
      }
      .position {
        margin-bottom: 5px;
        font: 14px $helvetica_cebold;
      }
      article {
        font: 14px $HelveticaNeueLight;
        margin-bottom: 15px;
      }
      a {
        background: url("../images/mail.svg") no-repeat left 4px;
        background-size: 20px 12px;
        padding-left: 30px;
        font: 14px $HelveticaNeueLight;
        color: #fff;
        text-decoration: underline;
      }
    }
    &:nth-child(2), &:nth-child(4) {
      color: #000;
      background-color: #F0F0F0;
      padding-top: 25px;
      padding-bottom: 15px;
      .item-wrapping {
        @include wrap;
      }
      .views-row {
        margin-bottom: 45px;
        @media (min-width: 481px) {
          @include flexbox;
        }
        @media (max-width: 480px) {
          text-align: center;
        }
      }
      .img-w {
        @media (min-width: 481px) {
          margin-right: 20px;
        }
        @media (max-width: 480px) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;
        }
      }
      .title {
        font: 18px $helvetica_cebold;
      }
      .position {
        font: 14px $helvetica_cebold;
      }
      article {
        font: 14px $HelveticaNeueLight;
        margin-top: 6px;
        margin-bottom: 4px;
      }
      a {
        background: url("../images/mail-b.svg") no-repeat left 4px;
        background-size: 20px 12px;
        padding-left: 30px;
        font: 14px $HelveticaNeueLight;
        color: #000;
        text-decoration: underline;
      }
    }
    &:nth-child(3) {
      color: #fff;
      background-color: #333333;
      padding-top: 25px;
      padding-bottom: 20px;
      .item-wrapping {
        @include wrap;
      }
      .views-row {
        margin-bottom: 45px;
        @media (min-width: 481px) {
          @include flexbox;
        }
        @media (max-width: 480px) {
          text-align: center;
        }
      }
      .img-w {
        @media (min-width: 481px) {
          margin-right: 20px;
        }
        @media (max-width: 480px) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;
        }
      }
      .title {
        font: 18px $helvetica_cebold;
      }
      .position {
        font: 14px $helvetica_cebold;
      }
      article {
        font: 14px $HelveticaNeueLight;
        margin-top: 6px;
        margin-bottom: 4px;
      }
      a {
        background: url("../images/mail.svg") no-repeat left 4px;
        background-size: 20px 12px;
        padding-left: 30px;
        font: 14px $HelveticaNeueLight;
        color: #fff;
        text-decoration: underline;
      }
    }
    &:nth-child(4) {
      background-color: #CCCCCC;
      padding-top: 25px;
    }
  }
  @media (max-width: 768px) {
    br {
      display: none;
    }
  }
}

#block-dasdialogmarketingbuch {
  .wrap {
    @include wrap;
    @media (max-width: 768px) {
      padding-top: 10px;
      padding-bottom: 10px;
      section {
        padding: 15px 10px;
      }
    }
  }
  .wrapping {
    color: #000;
    position: relative;
    background-color: #F0F0F0;
    @media (min-width: 769px) {
      width: 50%;
      height: 527px;
      padding-right: 25px;
      @include flexbox;
      @include align-items(center);
      &:after {
        content: '';
        background-color: #F0F0F0;
        width: 2000px;
        height: 100%;
        position: absolute;
        left: -2000px;
        top: 0;
      }
    }
  }
  .title {
    position: relative;
    font: 35px/1.2em $museolight;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
      content: '';
      width: 100px;
      height: 5px;
      background-color: #FFEE00;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  p {
    font: 17px/1.4em $HelveticaNeueLight;
    a {
      color: #000;
    }
  }
}

#block-dmasterweiterbildunginrealtime {
  background-color: #333333;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #fff;
  .block-title {
    font: 35px/1.4em $museolight;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: #FFEE00;
    }
  }
  p {
    font: 17px/1.4em $HelveticaNeueLight;
    margin-bottom: 20px;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.kontakt {
  max-width: 370px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  p {
    margin-bottom: 7px !important;
  }
  a {
    color: #000;
  }
  strong {
    font-family: $helvetica_cebold;
  }
}

.place-card {
  display: none !important;
}

#block-lageplanimdetail {
  margin-top: -50px;
  padding-bottom: 35px;
  .field--name-body {
    @include wrap;
    @media (min-width: 769px) {
      @include flexbox;
    }
  }
  .item {
    @media (min-width: 769px) {
      &:first-child {
        width: 42%;
      }
      &:last-child {
        width: 58%;
      }
    }
    @media (max-width: 768px) {
      text-align: center;
      &:last-child {
        margin-top: 25px !important;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    position: relative;
    font: 35px/1.4em $museolight;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
      background-color: #FFEE00;
      content: '';
      width: 113px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      @media (max-width: 768px) {
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  p {
    font: 17px/1.4em $HelveticaNeueLight;
  }
  .link {
    margin-top: 25px;
    a {
      text-decoration: underline;
      font: 17px/1.4em $HelveticaNeueLight;
      color: #000;
    }
  }
}

#webform-submission-immer-auf-dem-laufenden-bleiben-form {
  @media (max-width: 360px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#block-likefollowsharecomment {
  background-color: #FFEF42;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
  h2 {
    font: 20px/1.4em $helvetica_cebold;
  }
  .soc-nav {
    margin-top: 15px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px;
    }
    a {
      display: block;
      width: 42px;
      height: 42px;
      font-size: 0 !important;
      color: transparent;
    }
  }
  .facebook {
    background: url("../images/facebook-b.png") no-repeat center;
  }
  .xing {
    background: url("../images/xing-b.png") no-repeat center;
  }
  .linkedin {
    background: url("../images/linkedin-b.png") no-repeat center;
  }
}

#block-webform-2 {
  margin-top: 15px;
  margin-bottom: 55px;
  text-align: center;
  .block-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
    font: 35px/1.4em $museolight;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #FFEE00;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .form-item, button {
    max-width: 325px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font: 17px/1.4em $HelveticaNeueLight;
    a {
      color: #000;
      text-decoration: underline;
    }
  }
  .form-item-name {
    margin-top: 55px;
  }
  [type="text"], [type="email"] {
    padding-left: 30px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    box-shadow: none;
  }
  [type="text"] {
    background: url("../images/man-user.svg") no-repeat 10px center;
    background-size: 14px auto;
  }
  [type="email"] {
    background: url("../images/envelope.svg") no-repeat 10px center;
    background-size: 14px auto;
  }
  button {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #000;
    font: 14px/1.4em $HelveticaNeueLight;
    background-color: #FFEE00;
    border-radius: 0;
    margin-top: 25px;
  }
}

.items-wrapping {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 381px) {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-around);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      color: #000;
      font: 17px/1.4em $HelveticaNeueLight;
    }
  }
  .item {
    margin-bottom: 45px;
    @media (min-width: 561px) {
      width: 30%;
    }
    @media (max-width: 560px) and (min-width: 381px) {
      width: 48%;
    }
  }
  .header-img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 2px solid rgba(250, 161, 27, 1);
    overflow: hidden;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    img {
      width: 95%;
      height: auto;
    }
  }
  .title {
    font: 17px/1.4em $helvetica_cebold;
    margin-bottom: 5px;
  }
}

.map-google-wrap {
  position: relative;
  iframe {
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative; /* IE needs a position other than static */
    &.clicked {
      pointer-events: auto;
    }
  }
}

#block-languageswitcher {
  position: absolute;
  right: 5px;
  top: -5px;
  .links {
    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.language-link {
  font-size: 0 !important;
  color: transparent !important;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &[hreflang="en"] {
    background-image: url("../images/united-kingdom.svg");
  }
  &[hreflang="de"] {
    background-image: url("../images/germany.svg");
  }
  &.is-active {
    position: relative;
    &:before {
      content: '';
      background-color: rgba(255, 238, 0, .45);
      position: absolute;
      width: 32px;
      height: 25px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

#block-webform {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .panel-heading {
    display: none;
  }
  .panel-body {
    display: block;
  }
  .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .panel-body {
    padding: 0;
  }
  @media (min-width: 391px) {
    .container-inline {
      @include flexbox;
      @include justify-content(space-between);
      > div {
        width: 48.5%;
      }
    }
  }
  @media (max-width: 390px) {
    .container-inline {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .form-actions {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    button {
      margin-right: 0;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    height: 30px;
    padding: 3px 7px;
  }
  textarea {
    height: 170px !important;
  }
  input, textarea {
    color: #fff;
    background-color: #A0A09F;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font: 14px/1.4em $HelveticaNeueLight;
  }
  ::-webkit-input-placeholder {
    color: #fff;
  }
  ::-moz-placeholder {
    color: #fff;
  }
  :-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
  .btn-primary {
    color: #000;
    background-color: #FFEE00;
    border: none;
    border-radius: 0;
    @media (min-width: 391px) {
      margin-top: -20px;
    }
  }
}

#webform-submission-news-form-node-58-form {
  > p {
    text-align: center;
    font: 17px/1.4em $HelveticaNeueLight;
    margin-bottom: 35px;
  }
}

.field--name-field-google-map {
  margin-top: -35px;
  padding-bottom: 50px;
  h2 {
    display: none;
  }
}

.medieninhaber {
  text-align: left;
  max-width: 930px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  a {
    color: #000;
    text-decoration: underline;
  }
  .sub-title {
    font: 17px/1.4em $helvetica_cebold;
    margin-top: 25px;
  }
  .title-row {
    color: #333333;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    font: 35px/1.4em $museolight;
    &:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: rgb(255, 238, 0);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

[data-history-node-id="118"] {
  .field--name-body {
    padding-top: 0 !important;
  }
  [data-parallax="scroll"] {
    height: 518px;
    overflow: hidden;
  }
  .paraxify {
    background-image: url("../images/f12746_25114342f35e41e885c0200da2e3c6b2~mv2.jpg");
  }
}

.medieninhaber-wrap {
  max-width: 930px;
  width: 100%;
  height: 518px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  .wrapping {
    position: relative;
    background-color: #F0F0F0;
    width: 49.5%;
    height: 518px;
    &:after {
      content: '';
      width: 2000px;
      height: 518px;
      background-color: #F0F0F0;
      position: absolute;
      top: 0;
      left: -2000px;
    }
  }
  .header-banner {
    padding-top: 55px;
    padding-bottom: 40px;
  }
}

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  //background-size: cover;
  background-repeat: no-repeat;
}