@font-face {
  font-family: 'museo100';
  src: url('../fonts/Museo100/museo100-regular-webfont.eot');
  src: url('../fonts/Museo100/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo100/museo100-regular-webfont.woff2') format('woff2'),
  url('../fonts/Museo100/museo100-regular-webfont.woff') format('woff'),
  url('../fonts/Museo100/museo100-regular-webfont.ttf') format('truetype'),
  url('../fonts/Museo100/museo100-regular-webfont.svg#museo100') format('svg');
}

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot');
  src: url('../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf') format('truetype'),
  url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
}

@font-face {
  font-family: 'helvetica_cebold';
  src: url('../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.eot');
  src: url('../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.woff2') format('woff2'),
  url('../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.woff') format('woff'),
  url('../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.ttf') format('truetype'),
  url('../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.svg#helvetica_cebold') format('svg');
}

@font-face {
  font-family: "Museo Slab W01 100";
  src: url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.eot");
  src: url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.woff2") format("woff2"),
  url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.woff") format("woff"),
  url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.ttf") format("truetype"),
  url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.svg#Museo Slab W01 100") format("svg");
}