@font-face {
  font-family: 'museo100';
  src: url("../fonts/Museo100/museo100-regular-webfont.eot");
  src: url("../fonts/Museo100/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo100/museo100-regular-webfont.woff2") format("woff2"), url("../fonts/Museo100/museo100-regular-webfont.woff") format("woff"), url("../fonts/Museo100/museo100-regular-webfont.ttf") format("truetype"), url("../fonts/Museo100/museo100-regular-webfont.svg#museo100") format("svg"); }
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg"); }
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg"); }
@font-face {
  font-family: 'helvetica_cebold';
  src: url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.eot");
  src: url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.woff2") format("woff2"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.woff") format("woff"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.ttf") format("truetype"), url("../fonts/helvetica_ce_bold/helvetica_ce_bold-webfont.svg#helvetica_cebold") format("svg"); }
@font-face {
  font-family: "Museo Slab W01 100";
  src: url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.eot");
  src: url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.woff2") format("woff2"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.woff") format("woff"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.ttf") format("truetype"), url("../fonts/MuseoSlab/c619ccca5271a0f4b58af34d8f467188.svg#Museo Slab W01 100") format("svg"); }
* {
  padding: 0; }

a, button {
  outline: none; }

body {
  padding-bottom: 25px;
  margin-top: 0; }
  @media (min-width: 661px) {
    body {
      padding-top: 127px; }
      body.user-logged-in {
        padding-top: 222px !important; } }

#header {
  background-color: #fff;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25); }
  #header .logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 8px; }
  #header .wrapping {
    position: relative; }
  #header .hamburger {
    position: absolute;
    right: 15px;
    bottom: 25px;
    padding: 0; }
    @media (min-width: 769px) {
      #header .hamburger {
        display: none; } }

.banner {
  width: 100%;
  height: 518px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center; }

.banner-title {
  font-family: "Museo Slab W01 100", serif; }
  .banner-title > div {
    text-shadow: #ffffff 0 0 6px; }

article.page .field--name-body {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 65px;
  color: #333333; }
  article.page .field--name-body h2 {
    font: 35px/1.4em "Museo Slab W01 100", serif;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 34px; }
    article.page .field--name-body h2:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto; }
  article.page .field--name-body p {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
    margin-bottom: 15px; }

#block-views-block-unsere-kompetenzen-block-block-1 {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #666666; }
  #block-views-block-unsere-kompetenzen-block-block-1 .form-group {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  @media (min-width: 501px) {
    #block-views-block-unsere-kompetenzen-block-block-1 .view-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  #block-views-block-unsere-kompetenzen-block-block-1 .views-row {
    min-width: 225px;
    margin-bottom: 22px; }
    @media (min-width: 501px) {
      #block-views-block-unsere-kompetenzen-block-block-1 .views-row {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; } }
    #block-views-block-unsere-kompetenzen-block-block-1 .views-row > a {
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      background-color: #ffef42;
      width: 100px;
      height: 100px;
      border-radius: 50%; }
    #block-views-block-unsere-kompetenzen-block-block-1 .views-row img {
      width: 75%;
      height: auto; }
  #block-views-block-unsere-kompetenzen-block-block-1 .title {
    font: 20px/1.4em "helvetica_cebold", sans-serif;
    color: #fff;
    width: 200px;
    margin-right: auto;
    margin-left: auto; }
  #block-views-block-unsere-kompetenzen-block-block-1 .view-footer {
    text-align: center; }
    #block-views-block-unsere-kompetenzen-block-block-1 .view-footer a {
      color: #fff;
      text-decoration: underline;
      font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }

@media (min-width: 900px) {
  #block-dassindwir .field--name-body > div {
    height: 490px; } }
@media (max-width: 899px) and (min-width: 621px) {
  #block-dassindwir .field--name-body > div {
    position: relative;
    height: 400px; } }
@media (max-width: 620px) and (min-width: 415px) {
  #block-dassindwir .field--name-body > div {
    position: relative;
    height: 500px; } }
@media (max-width: 414px) {
  #block-dassindwir .field--name-body > div {
    position: relative;
    height: 630px; } }
@media (min-width: 900px) {
  #block-dassindwir .wrap {
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; } }
@media (max-width: 899px) {
  #block-dassindwir .wrap {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f0f0f0;
    width: 98%;
    height: 90%;
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 900px) {
  #block-dassindwir .wrapping {
    position: relative;
    width: 50%; }
    #block-dassindwir .wrapping:before {
      content: '';
      width: 2000px;
      height: 490px;
      position: absolute;
      left: -1500px;
      background-color: #f0f0f0; } }
#block-dassindwir .wrapping section {
  position: relative;
  z-index: 1;
  padding-top: 35px; }
  #block-dassindwir .wrapping section p {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
#block-dassindwir .wrapping .title {
  color: #000000;
  padding-bottom: 16px;
  margin-bottom: 26px;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative; }
  #block-dassindwir .wrapping .title:after {
    content: '';
    width: 100px;
    height: 5px;
    background-color: #ffee00;
    bottom: 0;
    position: absolute;
    left: 0; }

.path-dialogmarketing .banner {
  width: 100%;
  height: 518px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
.path-dialogmarketing .body-desription {
  padding-top: 20px;
  padding-bottom: 25px; }
  .path-dialogmarketing .body-desription > h2 {
    color: #333333;
    font: 35px/1.4em "Museo Slab W01 100", serif;
    position: relative;
    padding-bottom: 20px; }
    .path-dialogmarketing .body-desription > h2:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      bottom: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
.path-dialogmarketing .view-unsere-kompetenzen .view-content {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.path-dialogmarketing .view-unsere-kompetenzen img {
  display: block; }
.path-dialogmarketing .view-unsere-kompetenzen .row-item {
  width: 50%;
  margin-top: 8px;
  margin-bottom: 25px; }
.path-dialogmarketing .title-w {
  color: #000;
  font: 20px/1.4em "helvetica_cebold", sans-serif;
  margin-top: 20px;
  margin-bottom: 12px; }
.path-dialogmarketing .img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #ffef42;
  overflow: hidden; }
  .path-dialogmarketing .img img {
    width: 75%;
    height: auto; }
.path-dialogmarketing .description-w {
  color: #000;
  font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  .path-dialogmarketing .description-w a {
    color: #000;
    text-decoration: underline; }

#block-mainnavigation {
  background-color: #f0f0f0;
  clear: both; }
  #block-mainnavigation .menu {
    padding-top: 5.2px;
    padding-bottom: 5.2px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: none; }
    @media (min-width: 769px) {
      #block-mainnavigation .menu {
        max-width: 1000px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; } }
    @media (max-width: 768px) {
      #block-mainnavigation .menu {
        display: none;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        z-index: 10;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff; }
        #block-mainnavigation .menu li {
          float: none; }
        #block-mainnavigation .menu a {
          padding: 15px !important; } }
    #block-mainnavigation .menu a {
      font: normal 14px/1.4 "helveticaneuecyrroman", sans-serif;
      padding: 0;
      color: #999999;
      text-transform: uppercase;
      transition: color 0.4s ease 0s; }
      #block-mainnavigation .menu a:hover {
        color: #000; }
        @media (max-width: 768px) {
          #block-mainnavigation .menu a:hover {
            color: #fff !important;
            background-color: #656565; } }
      #block-mainnavigation .menu a.is-active {
        color: #000; }
    @media (max-width: 768px) {
      #block-mainnavigation .menu li a.is-active {
        color: #fff !important;
        background-color: #656565; } }

#block-osterreichsfuhrendedialogagentur {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px; }
  #block-osterreichsfuhrendedialogagentur .field--name-body {
    width: 980px;
    margin-left: auto;
    margin-right: auto; }

#block-statistics {
  background-color: #ffef42;
  padding-top: 26px; }
  #block-statistics .field--name-body {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }

#block-bestedialogmarketing {
  background-color: #333333;
  padding-top: 45px; }
  #block-bestedialogmarketing .field--name-body {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; }
  #block-bestedialogmarketing .item-title {
    position: relative;
    font: 19px/1.4em "helvetica_cebold", sans-serif;
    padding-bottom: 15px;
    margin-bottom: 15px; }
    #block-bestedialogmarketing .item-title:after {
      content: '';
      width: 150px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    #block-bestedialogmarketing .item-title span {
      display: block;
      color: #fff; }
  #block-bestedialogmarketing .item-text {
    color: #fff;
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
  @media (min-width: 640px) {
    #block-bestedialogmarketing .items-wrapping {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; } }
  #block-bestedialogmarketing .item {
    margin-bottom: 45px; }
    @media (min-width: 801px) {
      #block-bestedialogmarketing .item {
        width: 33.3%; } }
    @media (max-width: 800px) and (min-width: 640px) {
      #block-bestedialogmarketing .item {
        width: 50%; } }

.flexslider {
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent; }

.flex-control-nav {
  text-align: right;
  padding-right: 10px;
  bottom: 10px;
  z-index: 5; }
  .flex-control-nav a {
    font-size: 0;
    color: transparent; }

.flex-direction-nav a {
  height: 45px; }

.statistics-wrapping {
  padding-top: 35px;
  padding-bottom: 35px; }
  @media (min-width: 501px) {
    .statistics-wrapping {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .statistics-wrapping .item {
    position: relative;
    text-align: center;
    margin-bottom: 34px; }
    @media (min-width: 501px) {
      .statistics-wrapping .item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 210px; } }
    .statistics-wrapping .item:before {
      content: '';
      width: 2px;
      height: 60px;
      background-color: #333333;
      position: absolute;
      right: 3px;
      top: 17px; }
    @media (max-width: 629px) {
      .statistics-wrapping .item:nth-child(2):before {
        display: none; } }
    .statistics-wrapping .item:last-child:before {
      display: none; }
    @media (max-width: 500px) {
      .statistics-wrapping .item:before {
        display: none; } }
  .statistics-wrapping .title {
    font: 40px "helvetica_cebold", sans-serif;
    margin-bottom: 10px; }
  .statistics-wrapping .text span {
    font: 20px/1.1em "helvetica_cebold", sans-serif;
    display: block; }

#block-footersoc {
  margin-top: 9px; }
  #block-footersoc .menu {
    text-align: center; }
    #block-footersoc .menu li {
      display: inline-block; }

#block-footercontact {
  text-align: center; }
  #block-footercontact .field--name-body p {
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
    #block-footercontact .field--name-body p:nth-child(3) a {
      color: #000;
      text-decoration: underline; }
    #block-footercontact .field--name-body p:nth-child(3) span {
      color: #ffee00; }
    #block-footercontact .field--name-body p:nth-child(3) span:first-child {
      font-weight: 600; }
    #block-footercontact .field--name-body p:last-child {
      font: 14px/1.4em "helvetica_cebold", sans-serif; }
      #block-footercontact .field--name-body p:last-child a {
        color: #000; }
      #block-footercontact .field--name-body p:last-child > span {
        color: #ffee00; }

#block-footersoc {
  margin-bottom: 23px; }
  #block-footersoc .menu a {
    display: block;
    color: transparent !important;
    font-size: 0 !important;
    padding: 0;
    width: 35px;
    height: 35px; }
    #block-footersoc .menu a.facebook {
      background: url("../images/facebook.png") no-repeat center; }
    #block-footersoc .menu a.xing {
      background: url("../images/xing.png") no-repeat center; }
    #block-footersoc .menu a.linkedin {
      background: url("../images/linkedin.png") no-repeat center; }

#block-views-block-das-alles-sind-wir-block-1 {
  padding-top: 21px;
  padding-bottom: 20px;
  background-color: #666666; }
  #block-views-block-das-alles-sind-wir-block-1 .block-title {
    color: #fff;
    padding-bottom: 24px;
    margin-bottom: 30px;
    text-align: center;
    font: 35px/1.4em "Museo Slab W01 100", serif;
    position: relative; }
    #block-views-block-das-alles-sind-wir-block-1 .block-title:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto; }
  #block-views-block-das-alles-sind-wir-block-1 .form-group {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  @media (min-width: 781px) {
    #block-views-block-das-alles-sind-wir-block-1 .view-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  #block-views-block-das-alles-sind-wir-block-1 .views-row {
    margin-bottom: 25px; }
    @media (min-width: 781px) {
      #block-views-block-das-alles-sind-wir-block-1 .views-row {
        width: 50%; } }
  #block-views-block-das-alles-sind-wir-block-1 .img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #faa11b;
    overflow: hidden; }
  #block-views-block-das-alles-sind-wir-block-1 .title {
    color: #fff;
    margin-top: 23px;
    margin-bottom: 11px;
    font: 20px/1.4em "helvetica_cebold", sans-serif; }
  #block-views-block-das-alles-sind-wir-block-1 article {
    color: #fff;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }

@media (max-width: 660px) {
  .navbar-fixed-top {
    position: static !important; } }

#backtotop {
  width: 32px;
  height: 32px;
  right: 0;
  bottom: 0;
  background-size: 150% auto; }

#user-login-form {
  max-width: 768px;
  margin: 45px auto; }

.alert-success {
  border-radius: 0;
  margin-top: 13px;
  margin-bottom: 0; }

#block-strategieconsulting {
  background-color: #ccc;
  padding-top: 31px;
  padding-bottom: 35px; }
  #block-strategieconsulting h3 {
    color: #000;
    font: 20px/1.4em "helvetica_cebold", sans-serif; }
  #block-strategieconsulting .row-w > div {
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  #block-strategieconsulting .row-w.first {
    padding-bottom: 35px; }
    #block-strategieconsulting .row-w.first h3 {
      margin-bottom: 5px; }
  #block-strategieconsulting .row-img {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media (min-width: 551px) {
      #block-strategieconsulting .row-img img {
        display: block;
        width: 62%;
        height: auto;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 550px) {
      #block-strategieconsulting .row-img img {
        width: 95%;
        height: auto; } }
  @media (min-width: 781px) {
    #block-strategieconsulting .wrapping {
      max-width: 1000px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 781px) {
    #block-strategieconsulting .wrapping > div {
      width: 25%; } }
  @media (max-width: 780px) {
    #block-strategieconsulting .wrapping > div:nth-child(2), #block-strategieconsulting .wrapping > div:nth-child(3) {
      display: none; } }
  #block-strategieconsulting .wrapping .row-text {
    min-width: 245px; }
    @media (min-width: 831px) {
      #block-strategieconsulting .wrapping .row-text {
        margin-top: -160px; } }

[data-history-node-id="18"] .img {
  margin-top: 45px;
  background-color: #ccc; }
  [data-history-node-id="18"] .img img {
    width: 100%;
    height: auto; }

.main-wrap {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }

.node--type-unsere-projekte .title {
  margin-top: 35px;
  text-align: center; }
  .node--type-unsere-projekte .title span {
    font: 35px/1.4em "Museo Slab W01 100", serif;
    padding-bottom: 26px;
    margin-bottom: 25px;
    position: relative; }
    .node--type-unsere-projekte .title span:after {
      content: '';
      width: 50%;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
.node--type-unsere-projekte .description-wrap {
  text-align: center;
  margin-top: 43px;
  margin-bottom: 50px;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
.node--type-unsere-projekte .content-wrap {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 45px; }
  .node--type-unsere-projekte .content-wrap .field--label {
    font: 20px/1.4em "helvetica_cebold", sans-serif;
    margin-bottom: 5px; }
  .node--type-unsere-projekte .content-wrap .field {
    position: relative;
    padding-top: 128px;
    max-width: 260px;
    width: 100%; }
    .node--type-unsere-projekte .content-wrap .field:before {
      content: '';
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100%;
      background-color: #ffee00;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden; }
    .node--type-unsere-projekte .content-wrap .field .item {
      margin-bottom: 15px; }
      .node--type-unsere-projekte .content-wrap .field .item:last-child {
        margin-bottom: 0; }
  .node--type-unsere-projekte .content-wrap .field--item {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
.node--type-unsere-projekte .field--name-field-challenge:before {
  background-image: url("../images/challenge.png"); }
.node--type-unsere-projekte .field--name-field-method:before {
  background-image: url("../images/method.png"); }
.node--type-unsere-projekte .field--name-field-impact:before {
  background-image: url("../images/impact.png"); }
.node--type-unsere-projekte .field--name-dynamic-token-fieldnode-back-to-page {
  position: absolute;
  top: 38px;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer; }
  .node--type-unsere-projekte .field--name-dynamic-token-fieldnode-back-to-page a {
    display: block;
    width: 40px;
    height: 40px; }

#block-views-block-unsere-projekte-block-1 {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  #block-views-block-unsere-projekte-block-1 .block-title {
    position: relative;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px; }
    #block-views-block-unsere-projekte-block-1 .block-title:after {
      content: '';
      background-color: #ffee00;
      width: 130px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
  #block-views-block-unsere-projekte-block-1 .view-content > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  #block-views-block-unsere-projekte-block-1 .views-row {
    width: 48.5%;
    margin-bottom: 25px; }
    #block-views-block-unsere-projekte-block-1 .views-row > a {
      display: block;
      position: relative; }
      #block-views-block-unsere-projekte-block-1 .views-row > a:hover .description-w {
        opacity: 1;
        visibility: visible; }
    #block-views-block-unsere-projekte-block-1 .views-row img {
      width: 100%;
      height: auto; }
  #block-views-block-unsere-projekte-block-1 .description-w {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .35s; }
    #block-views-block-unsere-projekte-block-1 .description-w > div {
      text-align: center;
      color: #000000; }
  #block-views-block-unsere-projekte-block-1 .banner_title {
    font-family: "helvetica_cebold", sans-serif; }
  #block-views-block-unsere-projekte-block-1 .banner_description {
    color: #2F2E2E;
    font: 12px/1.4em "HelveticaNeue-Light", sans-serif; }

.award {
  background-color: #333333;
  color: #fff;
  margin-top: 100px;
  position: relative;
  padding-top: 88px;
  padding-bottom: 51px; }
  .award:before {
    content: '';
    width: 80px;
    height: 103px;
    background: url("../images/award.svg") no-repeat center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -36px; }
  .award h2 {
    position: relative;
    font: 20px/1.29em "helvetica_cebold", sans-serif;
    padding-bottom: 16px;
    margin-bottom: 10px; }
    .award h2:after {
      content: '';
      width: 150px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
  .award p {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
  .award .items {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .award .items .item {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }

ul.js-pager__items a {
  font: 12px/1.4em "HelveticaNeue-Light", sans-serif;
  color: #000;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline; }
  ul.js-pager__items a:hover {
    background-color: transparent; }

#block-views-block-unsere-kunden-block-1 {
  background-color: #999999;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 35px;
  color: #fff; }
  #block-views-block-unsere-kunden-block-1 .block-title {
    position: relative;
    text-align: center;
    font: 35px/1.4em "Museo Slab W01 100", serif;
    padding-bottom: 23px;
    margin-bottom: 35px; }
    #block-views-block-unsere-kunden-block-1 .block-title:after {
      content: '';
      width: 130px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto; }
  #block-views-block-unsere-kunden-block-1 .form-group {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  #block-views-block-unsere-kunden-block-1 .view-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  #block-views-block-unsere-kunden-block-1 .views-row {
    position: relative;
    width: 22.449%;
    margin-bottom: 25px; }
    #block-views-block-unsere-kunden-block-1 .views-row a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
    #block-views-block-unsere-kunden-block-1 .views-row:hover .text {
      opacity: 1;
      visibility: visible; }
  #block-views-block-unsere-kunden-block-1 .text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    font: 14px "helvetica_cebold", sans-serif;
    color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease .15s; }

#block-views-block-news-block-1 {
  background-color: #ccc; }
  #block-views-block-news-block-1 .form-group {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  @media (min-width: 769px) {
    #block-views-block-news-block-1 .views-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      #block-views-block-news-block-1 .views-row:nth-child(odd) .first {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        order: 2; }
      #block-views-block-news-block-1 .views-row:nth-child(odd) .last {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1; } }
  #block-views-block-news-block-1 .item {
    color: #000; }
    @media (min-width: 769px) {
      #block-views-block-news-block-1 .item {
        width: 50%; } }
  #block-views-block-news-block-1 p {
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
    #block-views-block-news-block-1 p a {
      color: #000;
      text-decoration: underline; }
  #block-views-block-news-block-1 .first {
    position: relative; }
    @media (min-width: 501px) {
      #block-views-block-news-block-1 .first {
        padding: 20px; } }
    @media (max-width: 500px) {
      #block-views-block-news-block-1 .first {
        padding: 20px 0; } }
  #block-views-block-news-block-1 img {
    width: 100%;
    height: auto; }
  #block-views-block-news-block-1 .title {
    margin-bottom: 10px;
    font: 20px/1.4em "helvetica_cebold", sans-serif; }
  #block-views-block-news-block-1 .link a {
    color: #000;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
    text-decoration: underline; }

#block-views-block-wir-suchen-immer-gute-leute-block-1 {
  padding-top: 25px; }
  #block-views-block-wir-suchen-immer-gute-leute-block-1 .block-title {
    color: #333333;
    text-align: center;
    position: relative;
    font: 35px/1.4em "Museo Slab W01 100", serif;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    #block-views-block-wir-suchen-immer-gute-leute-block-1 .block-title:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto; }
  #block-views-block-wir-suchen-immer-gute-leute-block-1 .title {
    font: 20px/1.4em "helvetica_cebold", sans-serif;
    margin-bottom: 15px; }
  #block-views-block-wir-suchen-immer-gute-leute-block-1 .views-row {
    color: #000;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 25px; }
    #block-views-block-wir-suchen-immer-gute-leute-block-1 .views-row:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto; }
    #block-views-block-wir-suchen-immer-gute-leute-block-1 .views-row > p {
      font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
  #block-views-block-wir-suchen-immer-gute-leute-block-1 .read-more {
    margin-top: 15px; }
    #block-views-block-wir-suchen-immer-gute-leute-block-1 .read-more a {
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: #ffee00;
      font: 19px/1.4em "HelveticaNeue-Light", sans-serif;
      color: #000000;
      display: block;
      width: 84px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      #block-views-block-wir-suchen-immer-gute-leute-block-1 .read-more a:hover {
        text-decoration: none; }

#webform-submission-news-form-form {
  max-width: 630px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  #webform-submission-news-form-form > p {
    text-align: center;
    margin-bottom: 15px; }
  @media (min-width: 501px) {
    #webform-submission-news-form-form .container-inline {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      height: 178px; } }
  #webform-submission-news-form-form .panel-body {
    border: none;
    padding: 0;
    display: block;
    margin-bottom: -2px; }
    #webform-submission-news-form-form .panel-body > div {
      width: 100%; }
  #webform-submission-news-form-form .form-item {
    display: block;
    border: none;
    margin-bottom: 0; }
    @media (min-width: 501px) {
      #webform-submission-news-form-form .form-item {
        width: 49%; } }
    #webform-submission-news-form-form .form-item input {
      background-color: #A0A09F;
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 2px; }
  #webform-submission-news-form-form textarea {
    background-color: #A0A09F;
    border: none;
    border-radius: 0;
    box-shadow: none; }
  #webform-submission-news-form-form ::-webkit-input-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  #webform-submission-news-form-form ::-moz-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  #webform-submission-news-form-form :-moz-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  #webform-submission-news-form-form :-ms-input-placeholder {
    color: #D3D3D3;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  #webform-submission-news-form-form .form-textarea-wrapper {
    height: 100%; }
    #webform-submission-news-form-form .form-textarea-wrapper textarea {
      height: 100%; }
    @media (max-width: 500px) {
      #webform-submission-news-form-form .form-textarea-wrapper {
        margin-top: 2px;
        width: 100%; }
        #webform-submission-news-form-form .form-textarea-wrapper textarea {
          width: 100%; } }
  #webform-submission-news-form-form > .form-actions {
    text-align: right; }
  #webform-submission-news-form-form .panel-heading {
    display: none; }
  #webform-submission-news-form-form button {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
    border: none;
    margin-top: -2px;
    margin-right: 5px;
    border-radius: 0;
    color: #000000;
    cursor: pointer;
    background-color: #ffee00; }

.view-teams h3 {
  text-align: center;
  font: 35px/1.4em "Museo Slab W01 100", serif;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 20px; }
  .view-teams h3:after {
    content: '';
    width: 300px;
    height: 5px;
    background-color: #FFEE00;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
.view-teams .views-row-wrap {
  padding-top: 30px; }
  @media (min-width: 769px) {
    .view-teams .views-row-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
.view-teams .views-row {
  margin-bottom: 35px; }
  @media (min-width: 481px) {
    .view-teams .views-row {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 50%; } }
.view-teams .img-w {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid rgba(204, 204, 204, 0.25); }
.view-teams .item:nth-child(1) {
  color: #fff;
  background-color: #999999;
  padding-top: 25px;
  padding-bottom: 10px; }
  .view-teams .item:nth-child(1) h3 {
    color: #fff; }
  .view-teams .item:nth-child(1) .views-row {
    text-align: center; }
  .view-teams .item:nth-child(1) .item-wrapping {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .view-teams .item:nth-child(1) .img-w {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
  .view-teams .item:nth-child(1) .title {
    font: 18px "helvetica_cebold", sans-serif; }
  .view-teams .item:nth-child(1) .position {
    margin-bottom: 5px;
    font: 14px "helvetica_cebold", sans-serif; }
  .view-teams .item:nth-child(1) article {
    font: 14px "HelveticaNeue-Light", sans-serif;
    margin-bottom: 15px; }
  .view-teams .item:nth-child(1) a {
    background: url("../images/mail.svg") no-repeat left 4px;
    background-size: 20px 12px;
    padding-left: 30px;
    font: 14px "HelveticaNeue-Light", sans-serif;
    color: #fff;
    text-decoration: underline; }
.view-teams .item:nth-child(2), .view-teams .item:nth-child(4) {
  color: #000;
  background-color: #F0F0F0;
  padding-top: 25px;
  padding-bottom: 15px; }
  .view-teams .item:nth-child(2) .item-wrapping, .view-teams .item:nth-child(4) .item-wrapping {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  .view-teams .item:nth-child(2) .views-row, .view-teams .item:nth-child(4) .views-row {
    margin-bottom: 45px; }
    @media (min-width: 481px) {
      .view-teams .item:nth-child(2) .views-row, .view-teams .item:nth-child(4) .views-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 480px) {
      .view-teams .item:nth-child(2) .views-row, .view-teams .item:nth-child(4) .views-row {
        text-align: center; } }
  @media (min-width: 481px) {
    .view-teams .item:nth-child(2) .img-w, .view-teams .item:nth-child(4) .img-w {
      margin-right: 20px; } }
  @media (max-width: 480px) {
    .view-teams .item:nth-child(2) .img-w, .view-teams .item:nth-child(4) .img-w {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; } }
  .view-teams .item:nth-child(2) .title, .view-teams .item:nth-child(4) .title {
    font: 18px "helvetica_cebold", sans-serif; }
  .view-teams .item:nth-child(2) .position, .view-teams .item:nth-child(4) .position {
    font: 14px "helvetica_cebold", sans-serif; }
  .view-teams .item:nth-child(2) article, .view-teams .item:nth-child(4) article {
    font: 14px "HelveticaNeue-Light", sans-serif;
    margin-top: 6px;
    margin-bottom: 4px; }
  .view-teams .item:nth-child(2) a, .view-teams .item:nth-child(4) a {
    background: url("../images/mail-b.svg") no-repeat left 4px;
    background-size: 20px 12px;
    padding-left: 30px;
    font: 14px "HelveticaNeue-Light", sans-serif;
    color: #000;
    text-decoration: underline; }
.view-teams .item:nth-child(3) {
  color: #fff;
  background-color: #333333;
  padding-top: 25px;
  padding-bottom: 20px; }
  .view-teams .item:nth-child(3) .item-wrapping {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  .view-teams .item:nth-child(3) .views-row {
    margin-bottom: 45px; }
    @media (min-width: 481px) {
      .view-teams .item:nth-child(3) .views-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 480px) {
      .view-teams .item:nth-child(3) .views-row {
        text-align: center; } }
  @media (min-width: 481px) {
    .view-teams .item:nth-child(3) .img-w {
      margin-right: 20px; } }
  @media (max-width: 480px) {
    .view-teams .item:nth-child(3) .img-w {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; } }
  .view-teams .item:nth-child(3) .title {
    font: 18px "helvetica_cebold", sans-serif; }
  .view-teams .item:nth-child(3) .position {
    font: 14px "helvetica_cebold", sans-serif; }
  .view-teams .item:nth-child(3) article {
    font: 14px "HelveticaNeue-Light", sans-serif;
    margin-top: 6px;
    margin-bottom: 4px; }
  .view-teams .item:nth-child(3) a {
    background: url("../images/mail.svg") no-repeat left 4px;
    background-size: 20px 12px;
    padding-left: 30px;
    font: 14px "HelveticaNeue-Light", sans-serif;
    color: #fff;
    text-decoration: underline; }
.view-teams .item:nth-child(4) {
  background-color: #CCCCCC;
  padding-top: 25px; }
@media (max-width: 768px) {
  .view-teams br {
    display: none; } }

#block-dasdialogmarketingbuch .wrap {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 768px) {
    #block-dasdialogmarketingbuch .wrap {
      padding-top: 10px;
      padding-bottom: 10px; }
      #block-dasdialogmarketingbuch .wrap section {
        padding: 15px 10px; } }
#block-dasdialogmarketingbuch .wrapping {
  color: #000;
  position: relative;
  background-color: #F0F0F0; }
  @media (min-width: 769px) {
    #block-dasdialogmarketingbuch .wrapping {
      width: 50%;
      height: 527px;
      padding-right: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      #block-dasdialogmarketingbuch .wrapping:after {
        content: '';
        background-color: #F0F0F0;
        width: 2000px;
        height: 100%;
        position: absolute;
        left: -2000px;
        top: 0; } }
#block-dasdialogmarketingbuch .title {
  position: relative;
  font: 35px/1.2em "Museo Slab W01 100", serif;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  #block-dasdialogmarketingbuch .title:after {
    content: '';
    width: 100px;
    height: 5px;
    background-color: #FFEE00;
    position: absolute;
    left: 0;
    bottom: 0; }
#block-dasdialogmarketingbuch p {
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
  #block-dasdialogmarketingbuch p a {
    color: #000; }

#block-dmasterweiterbildunginrealtime {
  background-color: #333333;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #fff; }
  #block-dmasterweiterbildunginrealtime .block-title {
    font: 35px/1.4em "Museo Slab W01 100", serif;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    #block-dmasterweiterbildunginrealtime .block-title:after {
      content: '';
      width: 300px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: #FFEE00; }
  #block-dmasterweiterbildunginrealtime p {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
    margin-bottom: 20px; }
    #block-dmasterweiterbildunginrealtime p a {
      color: #fff;
      text-decoration: underline; }

.kontakt {
  max-width: 370px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
  .kontakt p {
    margin-bottom: 7px !important; }
  .kontakt a {
    color: #000; }
  .kontakt strong {
    font-family: "helvetica_cebold", sans-serif; }

.place-card {
  display: none !important; }

#block-lageplanimdetail {
  margin-top: -50px;
  padding-bottom: 35px; }
  #block-lageplanimdetail .field--name-body {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media (min-width: 769px) {
      #block-lageplanimdetail .field--name-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }
  @media (min-width: 769px) {
    #block-lageplanimdetail .item:first-child {
      width: 42%; }
    #block-lageplanimdetail .item:last-child {
      width: 58%; } }
  @media (max-width: 768px) {
    #block-lageplanimdetail .item {
      text-align: center; }
      #block-lageplanimdetail .item:last-child {
        margin-top: 25px !important; } }
  #block-lageplanimdetail img {
    width: 100%;
    height: auto; }
  #block-lageplanimdetail h2 {
    position: relative;
    font: 35px/1.4em "Museo Slab W01 100", serif;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    #block-lageplanimdetail h2:after {
      background-color: #FFEE00;
      content: '';
      width: 113px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0; }
      @media (max-width: 768px) {
        #block-lageplanimdetail h2:after {
          right: 0;
          margin-left: auto;
          margin-right: auto; } }
  #block-lageplanimdetail p {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
  #block-lageplanimdetail .link {
    margin-top: 25px; }
    #block-lageplanimdetail .link a {
      text-decoration: underline;
      font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
      color: #000; }

@media (max-width: 360px) {
  #webform-submission-immer-auf-dem-laufenden-bleiben-form {
    padding-left: 10px;
    padding-right: 10px; } }

#block-likefollowsharecomment {
  background-color: #FFEF42;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center; }
  #block-likefollowsharecomment h2 {
    font: 20px/1.4em "helvetica_cebold", sans-serif; }
  #block-likefollowsharecomment .soc-nav {
    margin-top: 15px; }
    #block-likefollowsharecomment .soc-nav li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px; }
    #block-likefollowsharecomment .soc-nav a {
      display: block;
      width: 42px;
      height: 42px;
      font-size: 0 !important;
      color: transparent; }
  #block-likefollowsharecomment .facebook {
    background: url("../images/facebook-b.png") no-repeat center; }
  #block-likefollowsharecomment .xing {
    background: url("../images/xing-b.png") no-repeat center; }
  #block-likefollowsharecomment .linkedin {
    background: url("../images/linkedin-b.png") no-repeat center; }

#block-webform-2 {
  margin-top: 15px;
  margin-bottom: 55px;
  text-align: center; }
  #block-webform-2 .block-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
    font: 35px/1.4em "Museo Slab W01 100", serif; }
    #block-webform-2 .block-title:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #FFEE00;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  #block-webform-2 .form-item, #block-webform-2 button {
    max-width: 325px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  #block-webform-2 p {
    font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
    #block-webform-2 p a {
      color: #000;
      text-decoration: underline; }
  #block-webform-2 .form-item-name {
    margin-top: 55px; }
  #block-webform-2 [type="text"], #block-webform-2 [type="email"] {
    padding-left: 30px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    box-shadow: none; }
  #block-webform-2 [type="text"] {
    background: url("../images/man-user.svg") no-repeat 10px center;
    background-size: 14px auto; }
  #block-webform-2 [type="email"] {
    background: url("../images/envelope.svg") no-repeat 10px center;
    background-size: 14px auto; }
  #block-webform-2 button {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #000;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif;
    background-color: #FFEE00;
    border-radius: 0;
    margin-top: 25px; }

.items-wrapping {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 381px) {
    .items-wrapping {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      justify-content: space-around; } }
  .items-wrapping ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .items-wrapping ul a {
      color: #000;
      font: 17px/1.4em "HelveticaNeue-Light", sans-serif; }
  .items-wrapping .item {
    margin-bottom: 45px; }
    @media (min-width: 561px) {
      .items-wrapping .item {
        width: 30%; } }
    @media (max-width: 560px) and (min-width: 381px) {
      .items-wrapping .item {
        width: 48%; } }
  .items-wrapping .header-img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 2px solid #faa11b;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .items-wrapping .header-img img {
      width: 95%;
      height: auto; }
  .items-wrapping .title {
    font: 17px/1.4em "helvetica_cebold", sans-serif;
    margin-bottom: 5px; }

.map-google-wrap {
  position: relative; }
  .map-google-wrap iframe {
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative;
    /* IE needs a position other than static */ }
    .map-google-wrap iframe.clicked {
      pointer-events: auto; }

#block-languageswitcher {
  position: absolute;
  right: 5px;
  top: -5px; }
  #block-languageswitcher .links li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px; }

.language-link {
  font-size: 0 !important;
  color: transparent !important;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .language-link[hreflang="en"] {
    background-image: url("../images/united-kingdom.svg"); }
  .language-link[hreflang="de"] {
    background-image: url("../images/germany.svg"); }
  .language-link.is-active {
    position: relative; }
    .language-link.is-active:before {
      content: '';
      background-color: rgba(255, 238, 0, 0.45);
      position: absolute;
      width: 32px;
      height: 25px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }

#block-webform {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #block-webform .panel-heading {
    display: none; }
  #block-webform .panel-body {
    display: block; }
  #block-webform .panel {
    border: none;
    border-radius: 0;
    box-shadow: none; }
  #block-webform .panel-body {
    padding: 0; }
  @media (min-width: 391px) {
    #block-webform .container-inline {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      #block-webform .container-inline > div {
        width: 48.5%; } }
  @media (max-width: 390px) {
    #block-webform .container-inline {
      padding-left: 10px;
      padding-right: 10px; } }
  #block-webform .form-actions {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px; }
    #block-webform .form-actions button {
      margin-right: 0; }
  #block-webform .form-group {
    margin-bottom: 0; }
  #block-webform .form-control {
    height: 30px;
    padding: 3px 7px; }
  #block-webform textarea {
    height: 170px !important; }
  #block-webform input, #block-webform textarea {
    color: #fff;
    background-color: #A0A09F;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font: 14px/1.4em "HelveticaNeue-Light", sans-serif; }
  #block-webform ::-webkit-input-placeholder {
    color: #fff; }
  #block-webform ::-moz-placeholder {
    color: #fff; }
  #block-webform :-moz-placeholder {
    color: #fff; }
  #block-webform :-ms-input-placeholder {
    color: #fff; }
  #block-webform .btn-primary {
    color: #000;
    background-color: #FFEE00;
    border: none;
    border-radius: 0; }
    @media (min-width: 391px) {
      #block-webform .btn-primary {
        margin-top: -20px; } }

#webform-submission-news-form-node-58-form > p {
  text-align: center;
  font: 17px/1.4em "HelveticaNeue-Light", sans-serif;
  margin-bottom: 35px; }

.field--name-field-google-map {
  margin-top: -35px;
  padding-bottom: 50px; }
  .field--name-field-google-map h2 {
    display: none; }

.medieninhaber {
  text-align: left;
  max-width: 930px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .medieninhaber a {
    color: #000;
    text-decoration: underline; }
  .medieninhaber .sub-title {
    font: 17px/1.4em "helvetica_cebold", sans-serif;
    margin-top: 25px; }
  .medieninhaber .title-row {
    color: #333333;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    font: 35px/1.4em "Museo Slab W01 100", serif; }
    .medieninhaber .title-row:after {
      content: '';
      width: 300px;
      height: 5px;
      background-color: #ffee00;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }

[data-history-node-id="118"] .field--name-body {
  padding-top: 0 !important; }
[data-history-node-id="118"] [data-parallax="scroll"] {
  height: 518px;
  overflow: hidden; }
[data-history-node-id="118"] .paraxify {
  background-image: url("../images/f12746_25114342f35e41e885c0200da2e3c6b2~mv2.jpg"); }

.medieninhaber-wrap {
  max-width: 930px;
  width: 100%;
  height: 518px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
  .medieninhaber-wrap .wrapping {
    position: relative;
    background-color: #F0F0F0;
    width: 49.5%;
    height: 518px; }
    .medieninhaber-wrap .wrapping:after {
      content: '';
      width: 2000px;
      height: 518px;
      background-color: #F0F0F0;
      position: absolute;
      top: 0;
      left: -2000px; }
  .medieninhaber-wrap .header-banner {
    padding-top: 55px;
    padding-bottom: 40px; }

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.hamburger:hover {
  opacity: .7; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner:before {
  top: -10px; }

.hamburger-inner:after {
  bottom: -10px; }

.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dx .hamburger-inner:after, .hamburger--3dx .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dx.is-active .hamburger-inner {
  transform: rotateY(180deg);
  background-color: transparent; }

.hamburger--3dx.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dx.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dx-r .hamburger-inner:after, .hamburger--3dx-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dx-r.is-active .hamburger-inner {
  transform: rotateY(-180deg);
  background-color: transparent; }

.hamburger--3dx-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dx-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dy .hamburger-inner:after, .hamburger--3dy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dy.is-active .hamburger-inner {
  transform: rotateX(-180deg);
  background-color: transparent; }

.hamburger--3dy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dy-r .hamburger-inner:after, .hamburger--3dy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }

.hamburger--3dy-r.is-active .hamburger-inner {
  transform: rotateX(180deg);
  background-color: transparent; }

.hamburger--3dy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--arrow.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7); }

.hamburger--arrow.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7); }

.hamburger--arrow-r.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7); }

.hamburger--arrow-r.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7); }

.hamburger--arrowalt .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(0.7); }

.hamburger--arrowalt.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(0.7); }

.hamburger--arrowalt-r .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(0.7); }

.hamburger--arrowalt-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(0.7); }

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner:after, .hamburger--boring .hamburger-inner:before {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }

.hamburger--boring.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0; }

.hamburger--boring.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg); }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s; }

.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0; }

.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg); }

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s; }

.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear; }

.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(45deg); }

.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0; }

.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(90deg); }

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: .275s; }

.hamburger--elastic .hamburger-inner:before {
  top: 10px;
  transition: opacity .125s ease .275s; }

.hamburger--elastic .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(135deg); }

.hamburger--elastic.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0; }

.hamburger--elastic.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(-270deg); }

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: .275s; }

.hamburger--elastic-r .hamburger-inner:before {
  top: 10px;
  transition: opacity .125s ease .275s; }

.hamburger--elastic-r .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(-135deg); }

.hamburger--elastic-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0; }

.hamburger--elastic-r.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(270deg); }

.hamburger--emphatic {
  overflow: hidden; }

.hamburger--emphatic .hamburger-inner {
  transition: background-color .125s ease-in .175s; }

.hamburger--emphatic .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s; }

.hamburger--emphatic .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s; }

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent; }

.hamburger--emphatic.is-active .hamburger-inner:before {
  top: -80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, 80px, 0) rotate(45deg); }

.hamburger--emphatic.is-active .hamburger-inner:after {
  top: -80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg); }

.hamburger--emphatic-r {
  overflow: hidden; }

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color .125s ease-in .175s; }

.hamburger--emphatic-r .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s; }

.hamburger--emphatic-r .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s; }

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent; }

.hamburger--emphatic-r.is-active .hamburger-inner:before {
  top: 80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, -80px, 0) rotate(-45deg); }

.hamburger--emphatic-r.is-active .hamburger-inner:after {
  top: 80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, -80px, 0) rotate(45deg); }

.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform,opacity; }

.hamburger--slider .hamburger-inner:after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); }

.hamburger--slider-r .hamburger-inner {
  top: 2px; }

.hamburger--slider-r .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform,opacity; }

.hamburger--slider-r .hamburger-inner:after {
  top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--slider-r.is-active .hamburger-inner:before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(90deg); }

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear .13s; }

.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: .22s;
  background-color: transparent; }

.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s; }

.hamburger--spring-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0s linear; }

.hamburger--spring-r .hamburger-inner:before {
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--spring-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s linear 0.22s;
  opacity: 0; }

.hamburger--spring-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(90deg); }

.hamburger--stand .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms; }

.hamburger--stand .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s; }

.hamburger--stand .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s; }

.hamburger--stand.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(90deg);
  background-color: transparent; }

.hamburger--stand.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg); }

.hamburger--stand.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg); }

.hamburger--stand-r .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms; }

.hamburger--stand-r .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s; }

.hamburger--stand-r .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s; }

.hamburger--stand-r.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(-90deg);
  background-color: transparent; }

.hamburger--stand-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg); }

.hamburger--stand-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg); }

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .22s; }

.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s,opacity .1s ease-in; }

.hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg); }

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
  opacity: 0; }

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg); }

.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .22s; }

.hamburger--spin-r .hamburger-inner:before {
  transition: top .1s ease-in .25s,opacity .1s ease-in; }

.hamburger--spin-r .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-225deg); }

.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
  opacity: 0; }

.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(90deg); }

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms; }

.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease .12s,opacity 75ms ease; }

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg); }

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease,opacity 75ms ease .12s;
  opacity: 0; }

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg); }

.hamburger--vortex .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: .2s; }

.hamburger--vortex .hamburger-inner:after, .hamburger--vortex .hamburger-inner:before {
  transition-delay: .1s;
  transition-timing-function: linear;
  transition-duration: 0s; }

.hamburger--vortex .hamburger-inner:before {
  transition-property: top,opacity; }

.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom,transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(765deg); }

.hamburger--vortex.is-active .hamburger-inner:after, .hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s; }

.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0; }

.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(90deg); }

.hamburger--vortex-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: .2s; }

.hamburger--vortex-r .hamburger-inner:after, .hamburger--vortex-r .hamburger-inner:before {
  transition-delay: .1s;
  transition-timing-function: linear;
  transition-duration: 0s; }

.hamburger--vortex-r .hamburger-inner:before {
  transition-property: top,opacity; }

.hamburger--vortex-r .hamburger-inner:after {
  transition-property: bottom,transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(-765deg); }

.hamburger--vortex-r.is-active .hamburger-inner:after, .hamburger--vortex-r.is-active .hamburger-inner:before {
  transition-delay: 0s; }

.hamburger--vortex-r.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0; }

.hamburger--vortex-r.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg); }

/*# sourceMappingURL=main.css.map */
